body {
    margin: 0;
}

.grid {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'ga1 ga2 ga3'
                         'gb1 gb2 gb3'
                         'gc1 gc2 gc3'
}

.ga1 {
    grid-area: ga1;
    text-align: center;
}

.ga2 {
    grid-area: ga2;
    text-align: center;
    padding-top: 50px;
}

.ga3 {
    grid-area: ga3;
    text-align: justified;
}

.gb1 {
    grid-area: gb1;
    text-align: justified;
}

.gb2 {
    grid-area: gb2;
    text-align: justified;
}

.gb3 {
    grid-area: gb3;
    text-align: justified;
}

.gc1 {
    grid-area: gc1;
    text-align: justified;
}

.gc2 {
    grid-area: gc2;
    text-align: justified;
}

.gc3 {
    grid-area: gc3;
    text-align: justified;
}