* {
  box-sizing: border-box;
}

body {
    padding: 50px;
}

.column1 {
    background-color: red;
    width: 33.33%;
    float: left;
    text-align: center;
}

.column2 {
    background-color: green;
    width: 33.33%;
    float: left;
    text-align: center;
    
}

.column3 {
    background-color: cyan;
    width: 33.33%;
    float: left;
    text-align: center;
}