* {
  box-sizing: border-box;
}

html,
body { /* two first elements assure color ocuppies all visible area */
	margin: 0;
	padding: 0;
	min-height: 100vh;
	position: relative;
}

.col_center {
	grid-area: post;
}

.highlight {
    font-family: 'Roboto Condensed', sans-serif;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 50px;
	padding-bottom: 2.5rem;
	font-size: 18px;
	text-align: justify;
}

p {
	line-height: 1.8;
    font-family: 'Roboto Condensed', sans-serif;
	font-size:18px;
	overflow: auto;	
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}

code {
    font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-size: 18px;	
}

 span + span {                                                                                                                                                          	margin-left: 10px;                                                                                                                                                  } 

.pagination {
  display: inline-block;
}

.pagination a { 
  width: 100%;
  bottom: 10px;
  padding: 8px 16px;
  text-decoration: none;
  transition: color .3s;
}

.arrow {
	display: inline-block;
	padding: 5px;
}

/* unvisited link */
a:link { color: #dbe2f1; }

/* visited link */
a:visited { color: #dbe2f1; }

/* mouse over link */
a:hover { color: #bbbbbb; }

/* selected link */
a:active { color: #cccccc; }