<p class="has-line-data" data-line-start="0" data-line-end="1">“Dad! You have to remember we’re not in the twentieth century anymore!”</p>
<p class="has-line-data" data-line-start="2" data-line-end="7">I opened my mouth to speak<br>
and found only remembrances of 79, 85, 95…<br>
Pointing my finger at my daughter<br>
I paused to say something,<br>
and said nothing.</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">Then my wife laughed.</p>