<p class="has-line-data" data-line-start="1" data-line-end="2">The ratattat of the perforations on the silvery blister,</p>
<p class="has-line-data" data-line-start="3" data-line-end="4">orphans the pills in the sheet,</p>
<p class="has-line-data" data-line-start="5" data-line-end="6">tiny little jewels of sleep and forgetfulness.</p>
<p class="has-line-data" data-line-start="7" data-line-end="8">Bent and cracked,</p>
<p class="has-line-data" data-line-start="9" data-line-end="10">sometimes left,</p>
<p class="has-line-data" data-line-start="11" data-line-end="12">sometimes right.</p>
<p class="has-line-data" data-line-start="13" data-line-end="14">the casings crushed downwards and peeling</p>
<p class="has-line-data" data-line-start="15" data-line-end="16">the silvery film that tell’s that it’s the rohypnol,</p>
<p class="has-line-data" data-line-start="17" data-line-end="18">that’ll get you to the end of anxiety.</p>
<p class="has-line-data" data-line-start="22" data-line-end="23">As it gets uglier, scrunched up and asymmetrical,</p>
<p class="has-line-data" data-line-start="24" data-line-end="25">someone</p>
<p class="has-line-data" data-line-start="26" data-line-end="27">somwewhere,</p>
<p class="has-line-data" data-line-start="28" data-line-end="29">is feeling prettier.</p>