

<p class="has-line-data" data-line-start="0" data-line-end="4">Black girls peering over the steeple…<br>
Silent disbelief as the monks looked at dune where the women stood.<br>
The slow, red, caressing wind, touched their faces, hair, and feet,<br>
spreading incredulity all trough the desert.</p>
<p class="has-line-data" data-line-start="6" data-line-end="10">The day was getting late.<br>
The hill was ahead…<br>
high and long…<br>
Northern breeze blowing the sand out of the buried church.</p>
<p class="has-line-data" data-line-start="11" data-line-end="16">The women looked at the monks;<br>
looked at the sky and;<br>
went away…<br>
over the hill<br>
and nowhere to be seen.</p>
<p class="has-line-data" data-line-start="17" data-line-end="21">The night drawed near and colder.<br>
Paulus, Josephus, Silva, stood tired and silent before the hill of sand that surrounded the church.<br>
The Old church.<br>
The church they longed to find.</p>
<p class="has-line-data" data-line-start="23" data-line-end="27">It grew darker and darker,<br>
colder and colder…<br>
Night oozed blackness through the golden stony desert…<br>
Everywhere sand, stones and nothing.</p>
<p class="has-line-data" data-line-start="28" data-line-end="31">They walked for 40 days to get here…<br>
And now;<br>
for the first time in 3 days.</p>
<p class="has-line-data" data-line-start="32" data-line-end="36">They stopped.<br>
Tired and unable to move.<br>
Parched and gasping for breath.<br>
Weary and kneeling in front of the dune.</p>
<p class="has-line-data" data-line-start="38" data-line-end="45">Before it they stood;<br>
breathless,<br>
Their legs broke, their eyes widened, their hearts bleeding.<br>
There were no more places to go and no more prayers to pray.<br>
Prostrated,<br>
broken,<br>
waiting.</p>
<p class="has-line-data" data-line-start="46" data-line-end="49">The sunset came over the desert like a sunset who comes over the desert,<br>
as men waited,<br>
like men wait in the desert that will kill them.</p>
<p class="has-line-data" data-line-start="51" data-line-end="54">Looking at the dune that’s not a dune but a hill,<br>
and hill that’s not a hill but a church.<br>
The Old church.</p>
<p class="has-line-data" data-line-start="55" data-line-end="60">Clearer and clearer through the night wind…<br>
it’s stony walls cleansed by the dust of passing time.<br>
Long,<br>
Long,<br>
Time ago.</p>
<p class="has-line-data" data-line-start="62" data-line-end="65">Far,<br>
Far,<br>
away,</p>
<p class="has-line-data" data-line-start="67" data-line-end="73">in the desert.<br>
There were three names who were men, and men who were monks, and the monks who remembered their master…<br>
He spoke of the new God.<br>
The Man-God of Galilee.<br>
Chocked like a beggar, died like a king.<br>
He brought them news of the end of the old gods and the promise of a new beginning.</p>
<p class="has-line-data" data-line-start="74" data-line-end="77">Servants of Jesus, the Christ.<br>
Fishers of men;<br>
Fishing for spirit beneath the remains of the flesh.</p>
<p class="has-line-data" data-line-start="78" data-line-end="80">Their zeal and piety was not enough.<br>
The light of God trembled dimly through the haze of doubt and reason…</p>
<p class="has-line-data" data-line-start="81" data-line-end="83">And the longing for the Nazarene became a wanting, and the wanting became a journey; and the journey became a story;<br>
and the story was this:</p>
<p class="has-line-data" data-line-start="84" data-line-end="88">When the Verb Incarnate walked the earth,<br>
he searched the desert, listening for the fading sounds of God.<br>
Deeper and deeper into the vast white silence,<br>
into the barren loquatorium of the Godhead.</p>
<p class="has-line-data" data-line-start="89" data-line-end="94">And,<br>
He found himself very, very<br>
far,<br>
far,<br>
away from everything else.</p>
<p class="has-line-data" data-line-start="96" data-line-end="105">He saw for the first time his own Divinity;<br>
Naked and triumphant;<br>
the presence of Being as a wave of destruction engulfing this unwelcoming altar.<br>
His life and body a fitting sacrifice for the reward of the final truth…<br>
In this place,<br>
In the center,<br>
the middle.<br>
Inside,<br>
him.</p>
<p class="has-line-data" data-line-start="106" data-line-end="110">This was the first church.<br>
This was the place of the prime sacrifice.<br>
Where Jesus died for Christ,<br>
and the destiny of the world was sealed by the Son of Man.</p>
<p class="has-line-data" data-line-start="112" data-line-end="120">It’s this empty place of giving the monks searched for…<br>
walking,<br>
not standing…<br>
looking,<br>
not finding…<br>
living,<br>
not being,<br>
in the centre of God’s first sacrifice to himself.</p>
<p class="has-line-data" data-line-start="121" data-line-end="124">And,<br>
Lo,<br>
They found it in the desert.</p>
<p class="has-line-data" data-line-start="125" data-line-end="129">Under the hill,<br>
the dune,<br>
the sand,<br>
time,</p>
<p class="has-line-data" data-line-start="130" data-line-end="131">darkness made flesh.</p>
<p class="has-line-data" data-line-start="133" data-line-end="136">On their knees,<br>
before the night wind,<br>
blowing the sand from the church that awaited them.</p>
<p class="has-line-data" data-line-start="137" data-line-end="146">And,<br>
as they waited,<br>
horrified,<br>
terrified…<br>
as God slowly striped before their unwanting eyes,<br>
they watched,<br>
(after the point of no return)<br>
the grim spectacle of men made spirit,<br>
and spirit made sacrifice.</p>

