

<p class="has-line-data" data-line-start="1" data-line-end="2">When I close my eyes I see a desert.</p>
<p class="has-line-data" data-line-start="3" data-line-end="4">The, long, brown, infinity that stretches from the mountains to the sea.</p>
<p class="has-line-data" data-line-start="5" data-line-end="6">Leaving everything in between dead, and indifferent to its embrace.</p>
<p class="has-line-data" data-line-start="7" data-line-end="8">A space of immobility where movement is Wind.</p>
<p class="has-line-data" data-line-start="9" data-line-end="10">Blowing.</p>
<p class="has-line-data" data-line-start="11" data-line-end="12">Hard and soft…</p>
<p class="has-line-data" data-line-start="13" data-line-end="14">Subtle and strong…</p>
<p class="has-line-data" data-line-start="15" data-line-end="16">Northward and southward,</p>
<p class="has-line-data" data-line-start="17" data-line-end="18">Hither and thither.</p>
<p class="has-line-data" data-line-start="19" data-line-end="20">Striping the structure out of the desert.</p>
<p class="has-line-data" data-line-start="23" data-line-end="24">The only truth the wind.</p>
<p class="has-line-data" data-line-start="25" data-line-end="26">And the wind is the desert.</p>
<p class="has-line-data" data-line-start="27" data-line-end="28">And the desert is …</p>
<p class="has-line-data" data-line-start="29" data-line-end="30">It.</p>
<p class="has-line-data" data-line-start="37" data-line-end="38">The desert as the end of wanting.</p>
<p class="has-line-data" data-line-start="39" data-line-end="40">The last mille of hope in the road to despair.</p>
<p class="has-line-data" data-line-start="41" data-line-end="42">Where the Saviour goes to die.</p>
<p class="has-line-data" data-line-start="45" data-line-end="46">This is the place were everything stops, and is moved by chance.</p>
<p class="has-line-data" data-line-start="47" data-line-end="48">The place of the prime movement</p>
<p class="has-line-data" data-line-start="49" data-line-end="50">Fate,</p>
<p class="has-line-data" data-line-start="51" data-line-end="52">Chance,</p>
<p class="has-line-data" data-line-start="53" data-line-end="54">Flow.</p>
<p class="has-line-data" data-line-start="57" data-line-end="58">When I close my eyes I see a desert,</p>
<p class="has-line-data" data-line-start="59" data-line-end="60">Beneath me, and in front of me.</p>
<p class="has-line-data" data-line-start="61" data-line-end="62">In space in now, in time in here.</p>
<p class="has-line-data" data-line-start="69" data-line-end="70">Southward on the other side of the sea,</p>
<p class="has-line-data" data-line-start="71" data-line-end="72">in the other side of the ocean.</p>
<p class="has-line-data" data-line-start="73" data-line-end="74">Europa’s birthplace.</p>
<p class="has-line-data" data-line-start="75" data-line-end="76">My birthplace.</p>
<p class="has-line-data" data-line-start="77" data-line-end="78">The desert that was then when we started.</p>
<p class="has-line-data" data-line-start="79" data-line-end="80">When Europa made its first tentative steps to Itself.</p>
<p class="has-line-data" data-line-start="81" data-line-end="82">A desert not as a desert but as a barren place;</p>
<p class="has-line-data" data-line-start="83" data-line-end="84">A place where to be free.</p>
<p class="has-line-data" data-line-start="87" data-line-end="88">In the Future,</p>
<p class="has-line-data" data-line-start="89" data-line-end="90">Here,</p>
<p class="has-line-data" data-line-start="91" data-line-end="92">In Europa,</p>
<p class="has-line-data" data-line-start="93" data-line-end="94">The Peninsula will be a undulating vastness of naught.</p>
<p class="has-line-data" data-line-start="95" data-line-end="96">Rocks and sand where once stood the cities of today,</p>
<p class="has-line-data" data-line-start="97" data-line-end="98">Ruins of fountains, pools and waters mirrors,</p>
<p class="has-line-data" data-line-start="99" data-line-end="100">Incomprehensible artefacts of a past best forgotten.</p>
<p class="has-line-data" data-line-start="101" data-line-end="102">And,</p>
<p class="has-line-data" data-line-start="103" data-line-end="104">Scurrying nimbly through the desert,</p>
<p class="has-line-data" data-line-start="105" data-line-end="106">Our children’s children.</p>
<p class="has-line-data" data-line-start="107" data-line-end="108">Traped in a culture too slow to move with time.</p>
<p class="has-line-data" data-line-start="109" data-line-end="110">Still believing themselves Empire,</p>
<p class="has-line-data" data-line-start="111" data-line-end="112">but,</p>
<p class="has-line-data" data-line-start="113" data-line-end="114">now,</p>
<p class="has-line-data" data-line-start="115" data-line-end="116">all made of sand.</p>
<p class="has-line-data" data-line-start="119" data-line-end="120">Yesterday,</p>
<p class="has-line-data" data-line-start="121" data-line-end="122">Late in the day,</p>
<p class="has-line-data" data-line-start="123" data-line-end="124">Yesterday,</p>
<p class="has-line-data" data-line-start="125" data-line-end="126">Long ago,</p>
<p class="has-line-data" data-line-start="127" data-line-end="128">In a day dead and done,</p>
<p class="has-line-data" data-line-start="129" data-line-end="130">The day before now,</p>
<p class="has-line-data" data-line-start="131" data-line-end="132">Yesterday.</p>
<p class="has-line-data" data-line-start="133" data-line-end="134">It’s hours frozen by time,</p>
<p class="has-line-data" data-line-start="135" data-line-end="136">For it’s yesterday.</p>
<p class="has-line-data" data-line-start="137" data-line-end="138">Final and frail as porcelain dolls.</p>
<p class="has-line-data" data-line-start="139" data-line-end="140">These are the days that you’re given.</p>
<p class="has-line-data" data-line-start="141" data-line-end="142">Existing because time is locked in yesterday.</p>
<p class="has-line-data" data-line-start="145" data-line-end="146">Yesterday where knowledge goes to die.</p>
<p class="has-line-data" data-line-start="147" data-line-end="148">A land of reason and language,</p>
<p class="has-line-data" data-line-start="149" data-line-end="150">The last sarcophagi of living and a prison.</p>
<p class="has-line-data" data-line-start="151" data-line-end="152">It’s in this tomb of being that I see the desert,</p>
<p class="has-line-data" data-line-start="153" data-line-end="154">Southward and in the desert.</p>
<p class="has-line-data" data-line-start="161" data-line-end="162">A premonition of nothing,</p>
<p class="has-line-data" data-line-start="163" data-line-end="164">A call to arms</p>
<p class="has-line-data" data-line-start="165" data-line-end="166">And words to the wise</p>
<p class="has-line-data" data-line-start="167" data-line-end="168">The sky seems to get a little bit higher,</p>
<p class="has-line-data" data-line-start="169" data-line-end="170">Going upwards and upwards,</p>
<p class="has-line-data" data-line-start="171" data-line-end="172">Escaping us in a hurry.</p>
<p class="has-line-data" data-line-start="173" data-line-end="174">Fleeing a place promised to anathema.</p>
<p class="has-line-data" data-line-start="175" data-line-end="176">Knowing something we don’t.</p>
<p class="has-line-data" data-line-start="183" data-line-end="184">The rain is evermore scarce,</p>
<p class="has-line-data" data-line-start="185" data-line-end="186">The forests crackle dry and burn in winter.</p>
<p class="has-line-data" data-line-start="187" data-line-end="188">The rivers turn into torrents of mud.</p>
<p class="has-line-data" data-line-start="189" data-line-end="190">Crocodiles hunt in the mountains</p>
<p class="has-line-data" data-line-start="191" data-line-end="192">And bears fish by the sea shore.</p>
<p class="has-line-data" data-line-start="199" data-line-end="200">The climate is changing and we seem to stand still.</p>
<p class="has-line-data" data-line-start="201" data-line-end="202">As the oceans flood the lands</p>
<p class="has-line-data" data-line-start="203" data-line-end="204">And the desert gobbles up forests.</p>
<p class="has-line-data" data-line-start="205" data-line-end="206">Rain now only a wet remembrance of days gone by</p>
<p class="has-line-data" data-line-start="207" data-line-end="208">An enormous sadness for the watery world we left behind,</p>
<p class="has-line-data" data-line-start="209" data-line-end="210">Fills the air under a indifferent sky.</p>
<p class="has-line-data" data-line-start="211" data-line-end="212">Growing evermore remote.</p>
<p class="has-line-data" data-line-start="219" data-line-end="220">Scientists say it’s not going to rain anymore.</p>
<p class="has-line-data" data-line-start="221" data-line-end="222">That we shouldn’t count on our crops,</p>
<p class="has-line-data" data-line-start="223" data-line-end="224">Anymore.</p>
<p class="has-line-data" data-line-start="225" data-line-end="226">Rain buried in the dust that becomes wind,</p>
<p class="has-line-data" data-line-start="227" data-line-end="228">Flying through the ocean to the,</p>
<p class="has-line-data" data-line-start="229" data-line-end="230">Original desert.</p>
<p class="has-line-data" data-line-start="231" data-line-end="232">Sand as the seed of the future.</p>
<p class="has-line-data" data-line-start="233" data-line-end="234">Feeding on each other,</p>
<p class="has-line-data" data-line-start="235" data-line-end="236">And turning the Mediterranean a salty oasis.</p>
<p class="has-line-data" data-line-start="243" data-line-end="244">Scientists say our land is dying and that we should move away,</p>
<p class="has-line-data" data-line-start="245" data-line-end="246">Elsewhere,</p>
<p class="has-line-data" data-line-start="247" data-line-end="248">Anywhere,</p>
<p class="has-line-data" data-line-start="249" data-line-end="250">To a land that’ll keep us…</p>
<p class="has-line-data" data-line-start="251" data-line-end="252">But I … I’m not a scientist,</p>
<p class="has-line-data" data-line-start="253" data-line-end="254">So I’ll think I stay.</p>
<p class="has-line-data" data-line-start="261" data-line-end="262">And as I prepare to wait I ask myself,</p>
<p class="has-line-data" data-line-start="263" data-line-end="264">Will the desert bring its own religion</p>
<p class="has-line-data" data-line-start="265" data-line-end="266">Will this be the final death of the Green Man ?</p>
<p class="has-line-data" data-line-start="267" data-line-end="268">The Green Man survived the cross,</p>
<p class="has-line-data" data-line-start="269" data-line-end="270">Will he survive the death of the woods?</p>
<p class="has-line-data" data-line-start="271" data-line-end="272">Will the sand bring forth Mahomet or will this be Christ greatest triumph?</p>
<p class="has-line-data" data-line-start="273" data-line-end="274">He is,</p>
<p class="has-line-data" data-line-start="275" data-line-end="276">After all</p>
<p class="has-line-data" data-line-start="277" data-line-end="278">A son of the desert,</p>
<p class="has-line-data" data-line-start="285" data-line-end="286">Or,</p>
<p class="has-line-data" data-line-start="287" data-line-end="288">Maybe,</p>
<p class="has-line-data" data-line-start="289" data-line-end="290">In the end,</p>
<p class="has-line-data" data-line-start="291" data-line-end="292">This will be the final moment in a 2000 year old changing of the guard.</p>
<p class="has-line-data" data-line-start="299" data-line-end="300">Perhaps Mahomet and Christ are not all that different,</p>
<p class="has-line-data" data-line-start="301" data-line-end="302">Both are sons of the desert and grew feeding on the spirits of the wind,</p>
<p class="has-line-data" data-line-start="303" data-line-end="304">The tree spirits mortal enemies.</p>
<p class="has-line-data" data-line-start="305" data-line-end="306">Or maybe something new will appear,</p>
<p class="has-line-data" data-line-start="307" data-line-end="308">A culling of all this deities, places and times.</p>
<p class="has-line-data" data-line-start="309" data-line-end="310">A crucible to bring forth a new and happy science,</p>
<p class="has-line-data" data-line-start="311" data-line-end="312">But,</p>
<p class="has-line-data" data-line-start="313" data-line-end="314">This is not a place of beginnings but of endings.</p>
<p class="has-line-data" data-line-start="315" data-line-end="316">A place best understood by the old at heart,</p>
<p class="has-line-data" data-line-start="317" data-line-end="318">The cautious and suspicious mood of age best suits this changing mores.</p>
<p class="has-line-data" data-line-start="319" data-line-end="320">And the old,</p>
<p class="has-line-data" data-line-start="321" data-line-end="322">Out of habit and out of fear,</p>
<p class="has-line-data" data-line-start="323" data-line-end="324">Look to the past for answers.</p>
<p class="has-line-data" data-line-start="325" data-line-end="326">To yesterday,</p>
<p class="has-line-data" data-line-start="327" data-line-end="328">To the house of porcelain dolls of intelligence and discourse.</p>
<p class="has-line-data" data-line-start="329" data-line-end="330">But not even time past can illuminate the sombre path that lies ahead.</p>
<p class="has-line-data" data-line-start="331" data-line-end="332">Only looking long into the past,</p>
<p class="has-line-data" data-line-start="333" data-line-end="334">Can we glimmer faintly to something akin.</p>
<p class="has-line-data" data-line-start="335" data-line-end="336">Deep into the harbour of the first wanting,</p>
<p class="has-line-data" data-line-start="337" data-line-end="338">can we find the face that suits these final features.</p>
<p class="has-line-data" data-line-start="345" data-line-end="346">Europa’s long journey from the bogs of magic though the plains of philosophy and to the rarefied mountains of science</p>
<p class="has-line-data" data-line-start="347" data-line-end="348">has brought to a place so bereft of everything else,</p>
<p class="has-line-data" data-line-start="349" data-line-end="350">That only the first Gods</p>
<p class="has-line-data" data-line-start="351" data-line-end="352">Who were not here and needed nothing,</p>
<p class="has-line-data" data-line-start="353" data-line-end="354">Can exist</p>
<p class="has-line-data" data-line-start="355" data-line-end="356">Finally liberated from the shackles of religion,</p>
<p class="has-line-data" data-line-start="357" data-line-end="358">The bonds of reason</p>
<p class="has-line-data" data-line-start="359" data-line-end="360">The yoke of aesthetics</p>
<p class="has-line-data" data-line-start="361" data-line-end="362">The burden of morality</p>
<p class="has-line-data" data-line-start="363" data-line-end="364">We were delivered free</p>
<p class="has-line-data" data-line-start="365" data-line-end="366">To the desert of our own creation.</p>
<p class="has-line-data" data-line-start="373" data-line-end="374">And as form follow function</p>
<p class="has-line-data" data-line-start="375" data-line-end="376">And matter follows spirit,</p>
<p class="has-line-data" data-line-start="377" data-line-end="378">Our land becomes as inhabitable as our heads.</p>
<p class="has-line-data" data-line-start="385" data-line-end="386">When I close my eyes I see a desert.</p>
<p class="has-line-data" data-line-start="387" data-line-end="388">I move from the window where I stood,</p>
<p class="has-line-data" data-line-start="389" data-line-end="390">And stagger into my darkened bedroom,</p>
<p class="has-line-data" data-line-start="391" data-line-end="392">And lying on my bed,</p>
<p class="has-line-data" data-line-start="393" data-line-end="394">Eyes wide,</p>
<p class="has-line-data" data-line-start="395" data-line-end="396">Looking intently into the ceiling</p>
<p class="has-line-data" data-line-start="397" data-line-end="400">I shed the first tears for the place where I’ll live,<br>
Waiting its coming,<br>
Their people.</p>

