<p class="has-line-data" data-line-start="0" data-line-end="5">Bem sei,<br>
os dias são pequenos e turgidos,<br>
a noite é fugaz e confusa,<br>
e ninguém faz bom uso do tempo que tem,<br>
porque o tempo que temos é um tempo de merda.</p>
<p class="has-line-data" data-line-start="6" data-line-end="16">Bem sei, sempre foi assim.<br>
Andamos,<br>
desde sempre,<br>
a roçar a fimbria dos outros,<br>
receosos de todo o toque,<br>
cautelosos de qualquer proximidade,<br>
ciosos do nosso tempo.<br>
Guardados numa digna reserva,<br>
que se pergunta a todo o momento:<br>
-“Incomodo?”</p>
<p class="has-line-data" data-line-start="17" data-line-end="27">E assim,<br>
o teu tempo,<br>
as tuas ideias<br>
e os teus quereres,<br>
serão sempre e irremediavelmente teus.<br>
Guardado em ti estão todos os teus tesouros,<br>
e,<br>
graças à tua discrição e sobriedade,<br>
és dono de uma fortuna numa moeda sem câmbio.<br>
O teu coração é um monte de meticais.</p>
<p class="has-line-data" data-line-start="28" data-line-end="43">AS pessoas,<br>
as pessoas todas,<br>
de quem guardas uma distância prudente e respeitosa,<br>
parecem-te vazias, superficiais. desinteressantes.<br>
E se isso te pesa e entristece,<br>
não pesa tanto como ver-te reflectido em todo esse cinzento existir.<br>
Já não tens senão tédio para trocar com os outros.<br>
Portanto voltas para os teus dias glaúcos,<br>
as tuas noites vagas,<br>
e,<br>
sempre impelido pelo minimo denominador comum,<br>
viras costas ao mundo para tratares,<br>
do tempo que te resta,<br>
do espaço que não te tiraram,<br>
e do silêncio que tanto gostas.</p>
<p class="has-line-data" data-line-start="44" data-line-end="45">Amanhã diz que chove.</p>