<p class="has-line-data" data-line-start="0" data-line-end="1">Will we weep for the loss of absent friends?</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">Will time leave us alone?</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">Will sloth and neglect, estrange us from the ones we love the most?</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">Will the mill of days grind away the ties that bound us?</p>
<p class="has-line-data" data-line-start="12" data-line-end="13">No time like now,</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">No words but these words</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">No persons but these persons…</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">The ones here.</p>
<p class="has-line-data" data-line-start="20" data-line-end="21">Not the chosen,</p>
<p class="has-line-data" data-line-start="22" data-line-end="23">But the remaining.</p>
<p class="has-line-data" data-line-start="26" data-line-end="27">But</p>
<p class="has-line-data" data-line-start="28" data-line-end="29">I ask myself…</p>
<p class="has-line-data" data-line-start="30" data-line-end="31">Will we forgive ourselves for our forgetfulness?</p>
<p class="has-line-data" data-line-start="32" data-line-end="33">…</p>
<p class="has-line-data" data-line-start="34" data-line-end="35">All people</p>
<p class="has-line-data" data-line-start="36" data-line-end="37">Everywhere</p>
<p class="has-line-data" data-line-start="38" data-line-end="39">Everyday…</p>
<p class="has-line-data" data-line-start="40" data-line-end="41">The enormous throng of people we knew and loved…</p>
<p class="has-line-data" data-line-start="42" data-line-end="43">Taken by time and sacrificed in the altar of now.</p>
<p class="has-line-data" data-line-start="44" data-line-end="45">Distant shadows of a past made unnecessary.</p>
<p class="has-line-data" data-line-start="50" data-line-end="51">Not by you.</p>
<p class="has-line-data" data-line-start="52" data-line-end="53">Not by the others.</p>
<p class="has-line-data" data-line-start="54" data-line-end="55">But by now,</p>
<p class="has-line-data" data-line-start="56" data-line-end="57">By the movement.</p>
<p class="has-line-data" data-line-start="58" data-line-end="59">This place in this time, and this place in this</p>
<p class="has-line-data" data-line-start="60" data-line-end="61">place.</p>
<p class="has-line-data" data-line-start="64" data-line-end="65">Love trampled under the wheels of necessity</p>
<p class="has-line-data" data-line-start="66" data-line-end="67">and the stupid fascism of need.</p>
<p class="has-line-data" data-line-start="70" data-line-end="71">And to all this I ask:</p>
<p class="has-line-data" data-line-start="74" data-line-end="75">Will we miss our friends forgotten?</p>
<p class="has-line-data" data-line-start="76" data-line-end="77">Will we need their love and warmth?</p>
<p class="has-line-data" data-line-start="78" data-line-end="79">Will we be lonely?</p>
<p class="has-line-data" data-line-start="80" data-line-end="81">Afraid of being adrift with ourselves?</p>
<p class="has-line-data" data-line-start="84" data-line-end="85">II</p>
<p class="has-line-data" data-line-start="88" data-line-end="89">Time passes like a glacier trough a valley,</p>
<p class="has-line-data" data-line-start="90" data-line-end="91">Slowly but surely, all will collapse under the weight of the frost.</p>
<p class="has-line-data" data-line-start="92" data-line-end="93">Like the valley,</p>
<p class="has-line-data" data-line-start="94" data-line-end="95">We’ll be striped of everything,</p>
<p class="has-line-data" data-line-start="96" data-line-end="97">Naked and alone.</p>
<p class="has-line-data" data-line-start="100" data-line-end="101">And here, in presence of our own structure,</p>
<p class="has-line-data" data-line-start="102" data-line-end="103">Before the great truth…</p>
<p class="has-line-data" data-line-start="104" data-line-end="105">We cowardly long for time we spent with others and the truths we shared…</p>
<p class="has-line-data" data-line-start="106" data-line-end="107">Longing for all the things we left behind…</p>
<p class="has-line-data" data-line-start="110" data-line-end="111">And,</p>
<p class="has-line-data" data-line-start="112" data-line-end="113">Knowing this…</p>
<p class="has-line-data" data-line-start="114" data-line-end="115">Will we weep for the loss of absent friends?</p>
