

<p class="has-line-data" data-line-start="0" data-line-end="2">“I’m done with drinking!”<br>
said the glass.</p>
<p class="has-line-data" data-line-start="3" data-line-end="5">“I’m done with the loud bars and the loud hearts,<br>
with bragging souls and fighting spirits.</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">Done with the coming and the going of wayward travelers of the late hours…</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">I’m done with the night!”</p>
<p class="has-line-data" data-line-start="10" data-line-end="14">Said the glass almost blushing…<br>
awkwardly masquerading his unease with a smile.<br>
He paused, gathering himself, and then he continued,<br>
as if reading from a book,</p>
<p class="has-line-data" data-line-start="15" data-line-end="22">“I’m done with the silky invitation of the dark and the smiling complacency of the moon.<br>
I’m done with all this wanting and all this being and all this aimless meandering.<br>
cruising blind and fast,<br>
hither to thither,<br>
from here to there,<br>
from there to here again,<br>
and then to nowhere.”</p>
<p class="has-line-data" data-line-start="24" data-line-end="27">“I’m through with nights,<br>
I’m through with days that are still nights,<br>
and I’m through with days you wished were still nights!”</p>
<p class="has-line-data" data-line-start="28" data-line-end="30">“I’m through.”<br>
Pondered the glass…</p>
<p class="has-line-data" data-line-start="31" data-line-end="34">“I’m through being half filled and half empty,<br>
I’m through being drunk , spit upon, cried over, spilled and left on the ground…<br>
forgotten.”</p>
<p class="has-line-data" data-line-start="35" data-line-end="36">…</p>
<p class="has-line-data" data-line-start="37" data-line-end="42">“All the things I could be useful for…<br>
all things that I can do for me and others,<br>
all these things,<br>
all good.<br>
Are nothing to me.”</p>
<p class="has-line-data" data-line-start="43" data-line-end="46">“all the things that I am,<br>
all the things that make me, me…<br>
are things where I see me no more.”</p>
<p class="has-line-data" data-line-start="47" data-line-end="52">“There is no more of “me” that I can do.<br>
I have become weary of existing.<br>
I’ve grown unaccustomed to being,<br>
I’m a stranger to living…<br>
none of this is mine anymore.”</p>
<p class="has-line-data" data-line-start="55" data-line-end="60">“All that I am is elsewhere,<br>
differently,<br>
in places unseen,<br>
and probably,<br>
in moments unwanted.”</p>
<p class="has-line-data" data-line-start="61" data-line-end="64">“I am now,<br>
whole.<br>
an enormous longing for being someone else.”</p>
<p class="has-line-data" data-line-start="66" data-line-end="69">“Today I’m the cessation of volition,<br>
the end of habit<br>
and the answer to the algorithm of my own demise.”</p>
<p class="has-line-data" data-line-start="70" data-line-end="73">“And,<br>
knowing this,<br>
knowing only this.”</p>
<p class="has-line-data" data-line-start="74" data-line-end="79">“I wait that the Great Tyrant Time pushes all my doubts backwards into the past.<br>
So I can be whole,<br>
alone,<br>
With what I am…<br>
now.&quot;</p>

