<p class="has-line-data" data-line-start="0" data-line-end="1">As everything expands to the end of its possibilities,</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">and the cold brings homeostasis and simplicity to the universe,</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">We bow,</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">gently,</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">at the unstopable violence of cause and effect.</p>