<p class="has-line-data" data-line-start="0" data-line-end="1">Lazy afternoons,</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">all made of sunshine and permanence,</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">light and duration;</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">could they last forever…</p>
<p class="has-line-data" data-line-start="10" data-line-end="11">Listless Sun soaked hours,</p>
<p class="has-line-data" data-line-start="12" data-line-end="13">filled to the brim with nothing</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">and hollowed of any promise but its own shiny pointlessness.</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">These are the times that are,</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">truly,</p>
<p class="has-line-data" data-line-start="21" data-line-end="22">ours.</p>
<p class="has-line-data" data-line-start="25" data-line-end="26">This is our allotted time,</p>
<p class="has-line-data" data-line-start="27" data-line-end="28">all else is purposeful living.</p>
<p class="has-line-data" data-line-start="31" data-line-end="32">Years, months and days dedicated to the pursuits that we esteem as worthy:</p>
<p class="has-line-data" data-line-start="33" data-line-end="34">career,</p>
<p class="has-line-data" data-line-start="35" data-line-end="36">money,</p>
<p class="has-line-data" data-line-start="37" data-line-end="38">the respect of our peers,</p>
<p class="has-line-data" data-line-start="39" data-line-end="40">more money</p>
<p class="has-line-data" data-line-start="41" data-line-end="42">ourselves,</p>
<p class="has-line-data" data-line-start="43" data-line-end="44">family,</p>
<p class="has-line-data" data-line-start="45" data-line-end="46">the masses,</p>
<p class="has-line-data" data-line-start="47" data-line-end="48">God,</p>
<p class="has-line-data" data-line-start="49" data-line-end="50">the whales.</p>
<p class="has-line-data" data-line-start="53" data-line-end="54">All these and more</p>
<p class="has-line-data" data-line-start="55" data-line-end="56">much more,</p>
<p class="has-line-data" data-line-start="57" data-line-end="58">occupies us inside and out,</p>
<p class="has-line-data" data-line-start="59" data-line-end="60">as we dedicate large chunks of our lives to their conquest.</p>
<p class="has-line-data" data-line-start="61" data-line-end="62">Noble and important as they may be,</p>
<p class="has-line-data" data-line-start="63" data-line-end="64">(they’re not)</p>
<p class="has-line-data" data-line-start="65" data-line-end="66">they are not truly ours.</p>
<p class="has-line-data" data-line-start="69" data-line-end="70">Their place is the no man’s land that separates what they want from you,</p>
<p class="has-line-data" data-line-start="71" data-line-end="72">from what you want from them.</p>
<p class="has-line-data" data-line-start="73" data-line-end="74">Its in this field of glory that you’ll forget yourself, to win them,</p>
<p class="has-line-data" data-line-start="75" data-line-end="76">and where they’ll accommodate you, for no greater good.</p>
<p class="has-line-data" data-line-start="78" data-line-end="79">Everybody gives a little,</p>
<p class="has-line-data" data-line-start="80" data-line-end="81">nobody wins.</p>
<p class="has-line-data" data-line-start="84" data-line-end="85">This is the base of the new social contract,</p>
<p class="has-line-data" data-line-start="86" data-line-end="87">a fierce and equalitarian force preventing anyone from getting what they want.</p>
<p class="has-line-data" data-line-start="88" data-line-end="89">Social justice making sure that everyone gets fucked the same</p>
<p class="has-line-data" data-line-start="90" data-line-end="91">and in the same way.</p>
<p class="has-line-data" data-line-start="92" data-line-end="93">A socialization of misery,</p>
<p class="has-line-data" data-line-start="94" data-line-end="95">if you will.</p>
<p class="has-line-data" data-line-start="98" data-line-end="99">But not today.</p>
<p class="has-line-data" data-line-start="100" data-line-end="101">at least not this afternoon.</p>
<p class="has-line-data" data-line-start="102" data-line-end="103">Today there’s nothing to do but be,</p>
<p class="has-line-data" data-line-start="104" data-line-end="105">here.</p>
<p class="has-line-data" data-line-start="108" data-line-end="109">Useless,</p>
<p class="has-line-data" data-line-start="110" data-line-end="111">and with nowhere to go.</p>