

<p class="has-line-data" data-line-start="0" data-line-end="3">Love rules the world.<br>
Listen to my words,<br>
because it does.</p>
<p class="has-line-data" data-line-start="4" data-line-end="7">Love, the unbreakable law of the universe,<br>
the last word of God<br>
and His final seal on creation.</p>
<p class="has-line-data" data-line-start="8" data-line-end="13">Love is the gravity of the soul.<br>
The force that gives Spirit direction,<br>
purpose<br>
An up and a down.<br>
Movement and a direction to move.</p>
<p class="has-line-data" data-line-start="14" data-line-end="20">Love the cause<br>
and the reason for causation,<br>
a force beneath and above all forces,<br>
beginning and ending all things,<br>
so powerful and so present that is,<br>
as if it wasn’t.</p>
<p class="has-line-data" data-line-start="23" data-line-end="24">II</p>
<p class="has-line-data" data-line-start="26" data-line-end="27">Many names are given to Love,</p>
<p class="has-line-data" data-line-start="28" data-line-end="42">Compassion,<br>
Caring,<br>
Wanting,<br>
Protection,<br>
Solidarity,<br>
Charity,<br>
Piety,<br>
Sympathy,<br>
Empathy,<br>
Affection,<br>
Tenderness,<br>
Enthusiasm,<br>
Devotion,<br>
Attachment,</p>
<p class="has-line-data" data-line-start="43" data-line-end="45">all different,<br>
all wrong.</p>
<p class="has-line-data" data-line-start="46" data-line-end="49">All the names that Love was given,<br>
all of them,<br>
are veils to protect the eyes of Man from its true nature.</p>
<p class="has-line-data" data-line-start="51" data-line-end="52">Because the true name of Love is Obedience.</p>
<p class="has-line-data" data-line-start="55" data-line-end="67">As matter finds matter,<br>
as time bends space,<br>
as space twists place<br>
as place becomes gravity,<br>
as continents drift above the mantle,<br>
as trees look for the sun,<br>
as animals hunt for prey,<br>
as rivers run to the seas,<br>
as fruit falls from a tree,<br>
as man searches woman,<br>
and<br>
as all die…</p>
<p class="has-line-data" data-line-start="68" data-line-end="71">So do we,<br>
all,<br>
obey the unwritten law of Love.</p>
<p class="has-line-data" data-line-start="72" data-line-end="75">Unwritten and unexplained,<br>
for it was never meant to be understood,<br>
only put in motion through Creation and in each and every one of us.</p>
<p class="has-line-data" data-line-start="76" data-line-end="78">Love is God’s intent in time and space.<br>
And, being of God, his intent his alive and sentient.</p>
<p class="has-line-data" data-line-start="79" data-line-end="81">He unfolds trough time this long mysterious narration of Love,<br>
of which we are an infinitesimal part.</p>
<p class="has-line-data" data-line-start="82" data-line-end="85">We move in His direction, oblivious to the whys and the hows.<br>
Not because we don’t know them,<br>
but because they don’t exist.</p>
<p class="has-line-data" data-line-start="87" data-line-end="88">Love as a clear stream of Logos pervading the universe.</p>
<p class="has-line-data" data-line-start="89" data-line-end="97">Reason without logic,<br>
Knowledge without understanding,<br>
Love forever free from the yoke of causality,<br>
shining on us its cold white light,<br>
freezing us to immobility,<br>
making us stop,<br>
and listen,<br>
and learn.</p>
<p class="has-line-data" data-line-start="98" data-line-end="99">Obey.</p>
<p class="has-line-data" data-line-start="100" data-line-end="101">III</p>
<p class="has-line-data" data-line-start="103" data-line-end="108">Love as a thud in the mouth of the stomach.<br>
A pang in your chest,<br>
a tremor in your hands,<br>
a quickening of the heart,<br>
and a widening of the eyes.</p>
<p class="has-line-data" data-line-start="110" data-line-end="114">The mother who kills her own so as not hear their cries of hunger,<br>
the instinctive scream as another man falls,<br>
a sickening feeling when other animals are hurt,<br>
a strange revulsion against death and pain in others,</p>
<p class="has-line-data" data-line-start="115" data-line-end="118">foreigners,<br>
strangers,<br>
beings to whom we owe nothing,</p>
<p class="has-line-data" data-line-start="119" data-line-end="125">unknown,<br>
uncaring,<br>
but,<br>
still…<br>
All of us,<br>
united against the outrageous scandal of entropy.</p>
<p class="has-line-data" data-line-start="126" data-line-end="129">This is the new Revolution.<br>
The True Revolution.<br>
The Only Revolution.</p>
<p class="has-line-data" data-line-start="130" data-line-end="132">God’s path to Himself,<br>
and Man’s only unquestionable allegiance.</p>

