<p class="has-line-data" data-line-start="0" data-line-end="1">As I touched my daughter’s hands,</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">small, clean and uncreased,</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">I heard a voice:</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">“Life is the elegance of leaving.”</p>
<p class="has-line-data" data-line-start="12" data-line-end="13">I held her tight,</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">and thought of all the time I won’t have with her.</p>