

<p class="has-line-data" data-line-start="0" data-line-end="1">Stained clouds by the oily sludge of the night</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">mar the skyline who looms over the alley and dinner,</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">Twitching, squirming,</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">Bloody and delicious.</p>
<p class="has-line-data" data-line-start="10" data-line-end="11">I watched as it moved one last time.</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">The moon cowered beneath the smog,</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">Neon sprayed light trough the dark recesses of the city…</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">Low, dwindling stars, illuminate a mankind that deserves no other light.</p>
<p class="has-line-data" data-line-start="22" data-line-end="23">I lean against the wall, breathless and sated,</p>
<p class="has-line-data" data-line-start="24" data-line-end="25">Casting my eyes to on high,</p>
<p class="has-line-data" data-line-start="26" data-line-end="27">Searching for a God that has forsaken me.</p>
<p class="has-line-data" data-line-start="28" data-line-end="29">Leaving me alone with the billboards of banks and travel agencies,</p>
<p class="has-line-data" data-line-start="30" data-line-end="31">Sneakers and massage parlours,</p>
<p class="has-line-data" data-line-start="32" data-line-end="33">Shoe stores and chemists…</p>
<p class="has-line-data" data-line-start="34" data-line-end="35">Brightly coloured hues of dreaming, irradiating over the street.</p>
<p class="has-line-data" data-line-start="36" data-line-end="37">Full of the night lights and city sounds…</p>
<p class="has-line-data" data-line-start="38" data-line-end="39">Resting and digesting,</p>
<p class="has-line-data" data-line-start="40" data-line-end="41">as if the corpse before me was not my doing.</p>
<p class="has-line-data" data-line-start="44" data-line-end="45">As if no one would,</p>
<p class="has-line-data" data-line-start="46" data-line-end="47">ever,</p>
<p class="has-line-data" data-line-start="48" data-line-end="49">Come here</p>
<p class="has-line-data" data-line-start="50" data-line-end="51">As if I could rest …</p>
<p class="has-line-data" data-line-start="52" data-line-end="53">for awhile.</p>
<p class="has-line-data" data-line-start="56" data-line-end="57">The food stopped moving long ago.</p>
<p class="has-line-data" data-line-start="58" data-line-end="59">An empty dish for a vacant meal.</p>
<p class="has-line-data" data-line-start="60" data-line-end="61">The thrill of the hunt, the pleasure of the kill,</p>
<p class="has-line-data" data-line-start="62" data-line-end="63">Feeding…</p>
<p class="has-line-data" data-line-start="64" data-line-end="65">All so quick, so good and so sudden.</p>
<p class="has-line-data" data-line-start="68" data-line-end="69">I get up and get ready to leave,</p>
<p class="has-line-data" data-line-start="70" data-line-end="71">Button up my coat and leave this happy place of feeding.</p>
<p class="has-line-data" data-line-start="72" data-line-end="73">Strangely nostalgic for this now that is ended.</p>
<p class="has-line-data" data-line-start="78" data-line-end="79">The cold wind sharpens my pace as I look for the train station.</p>
<p class="has-line-data" data-line-start="80" data-line-end="81">Hungry to be elsewhere.</p>
<p class="has-line-data" data-line-start="82" data-line-end="83">Away from this geometric unwelcoming town.</p>
<p class="has-line-data" data-line-start="84" data-line-end="85">Eager, so eager,</p>
<p class="has-line-data" data-line-start="86" data-line-end="87">To get home.</p>
<p class="has-line-data" data-line-start="90" data-line-end="91">Away from all the animals that roam these streets.</p>

