
Toggle Mode

<p class="has-line-data" data-line-start="0" data-line-end="1">It felt confortable, the rain falling on the corrugated roof of the esplanade. Twenty years ago I never imagined that I could ever be so financially stable as I am today. Not rich mind you, or well-off, or even middle-class. Just not desperate and frantic. Yeah, I didn’t expect much. The sybaritic luxuries that I know wallow in, like taking an uber instead of the Metro or having lunch in a restaurant whenever, would feel to 36 year old me as foreign as Bangkok. I lived hand to mouth, my parents lived hand to mouth most of my life. I’m second/third generation poor. A very exclusive club. You wouldn’t understand.</p>
<p class="has-line-data" data-line-start="2" data-line-end="6">Although, truth be told, I couldn’t imagine being 46. Fourty-something, that unknowable hinterland of incomprehensible maturity, splayed over a vastness of of spurious experience. At 45, I used to think, if you’re not dead, you’re just lying to yourself. Being fourty reeked of spiritual bankruptcy and misuse of time, funds and oxygen. All better used on someone younger.<br>
I listened to the rain, cozy and cocooned. I realized at that moment that, since then, I had learned nothing that justified my existence at this age. And that my perspective on middle-age is still filtered by the eyes of twenty year old me.<br>
And he seems vexed by my insistence on living.<br>
I should have come to some other terms with aging. This ancillary time needed newer reflections and doesn’t deserve to be judged, in all its deep otherness, by youth.</p>
<p class="has-line-data" data-line-start="7" data-line-end="8">Hearing the rain and thinking of getting home tonight. Putting my pajama, choosing a movie, a nice dinner… all that I now need on a Friday evening. And I understand, at last, why there’s no justification to being forty. Creature comforts, the only true conquest of middle-age, are impervious to reason, impenetrable to justifications, and wary of thought. Our narratives stop at maturity. To, maybe, begin again at senescence, with death bringing purpose and poise to us all.</p>
<p class="has-line-data" data-line-start="9" data-line-end="10">Hearing the rain I think that thinking isn’t the answer. Not to this question anyway. I look at my new coat and loiter a little longer at the lunch table. Finishing my wine, drinking another espresso, lighting another cigarette.</p>

