<p class="has-line-data" data-line-start="0" data-line-end="1">All people have a geography.</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">Even if beggared from anything else,</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">they exist in space,</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">and their pattern in it</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">is wholly their own.</p>
<p class="has-line-data" data-line-start="10" data-line-end="11">We all have a topology,</p>
<p class="has-line-data" data-line-start="12" data-line-end="13">although there might be nothing to distinguish us,</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">although we may be silent in history,</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">our paths exist,</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">despite being known only to ourselves,</p>
<p class="has-line-data" data-line-start="21" data-line-end="22">Today I make this pronouncement</p>
<p class="has-line-data" data-line-start="23" data-line-end="24">That all paths of men are to be studied.</p>
<p class="has-line-data" data-line-start="25" data-line-end="26">That all geographies are important,</p>
<p class="has-line-data" data-line-start="27" data-line-end="28">and I suggest here,</p>
<p class="has-line-data" data-line-start="29" data-line-end="30">for the very first time.</p>
<p class="has-line-data" data-line-start="31" data-line-end="32">the hypothetical existence</p>
<p class="has-line-data" data-line-start="33" data-line-end="34">Never seen because never studied</p>
<p class="has-line-data" data-line-start="35" data-line-end="36">Of a man’s trek that,</p>
<p class="has-line-data" data-line-start="37" data-line-end="38">If absent of history,</p>
<p class="has-line-data" data-line-start="39" data-line-end="40">exults in topography.</p>
<p class="has-line-data" data-line-start="42" data-line-end="43">Routines made of subways, trains and trams crossing lines in the skin of the city,</p>
<p class="has-line-data" data-line-start="44" data-line-end="45">mandalas built of boozy nights spent bar hopping,</p>
<p class="has-line-data" data-line-start="46" data-line-end="47">sigils born from trips to the drugstore in the corner,</p>
<p class="has-line-data" data-line-start="48" data-line-end="49">and cosmogonies explained by holidays at the beach.</p>
<p class="has-line-data" data-line-start="51" data-line-end="52">II</p>
<p class="has-line-data" data-line-start="54" data-line-end="55">Yesterday I dreamt of a girl I loved at eleven.</p>
<p class="has-line-data" data-line-start="56" data-line-end="57">And in the dream I saw her, now.</p>
<p class="has-line-data" data-line-start="58" data-line-end="59">Older, thinner … a little gaunt,</p>
<p class="has-line-data" data-line-start="60" data-line-end="61">But still beautiful.</p>
<p class="has-line-data" data-line-start="62" data-line-end="63">Immense brown eyes</p>
<p class="has-line-data" data-line-start="64" data-line-end="65">attentive,</p>
<p class="has-line-data" data-line-start="66" data-line-end="67">restless,</p>
<p class="has-line-data" data-line-start="68" data-line-end="69">and tense.</p>
<p class="has-line-data" data-line-start="71" data-line-end="72">And I,</p>
<p class="has-line-data" data-line-start="73" data-line-end="74">I loved her with the intensity of a eleven year old.</p>
<p class="has-line-data" data-line-start="75" data-line-end="76">I was elated by this gift of feeling love like the first,</p>
<p class="has-line-data" data-line-start="77" data-line-end="78">for a second time.</p>
<p class="has-line-data" data-line-start="80" data-line-end="81">I found her in a small town</p>
<p class="has-line-data" data-line-start="82" data-line-end="83">In the dream</p>
<p class="has-line-data" data-line-start="84" data-line-end="85">And</p>
<p class="has-line-data" data-line-start="86" data-line-end="87">After she disappeared saying very little,</p>
<p class="has-line-data" data-line-start="88" data-line-end="89">I knew that that was where I would live forever.</p>
<p class="has-line-data" data-line-start="91" data-line-end="92">Then I dreamt about her friends,</p>
<p class="has-line-data" data-line-start="93" data-line-end="94">the town,</p>
<p class="has-line-data" data-line-start="95" data-line-end="96">and how to stay there.</p>
<p class="has-line-data" data-line-start="97" data-line-end="98">In the dream they asked me if I,</p>
<p class="has-line-data" data-line-start="99" data-line-end="100">really,</p>
<p class="has-line-data" data-line-start="101" data-line-end="102">wanted to stay in the town.</p>
<p class="has-line-data" data-line-start="103" data-line-end="104">Which was</p>
<p class="has-line-data" data-line-start="105" data-line-end="106">In fact</p>
<p class="has-line-data" data-line-start="107" data-line-end="108">So small.</p>
<p class="has-line-data" data-line-start="109" data-line-end="110">And I said</p>
<p class="has-line-data" data-line-start="111" data-line-end="112">“Yes.</p>
<p class="has-line-data" data-line-start="113" data-line-end="114">She’s the love of my life.”</p>
<p class="has-line-data" data-line-start="116" data-line-end="117">III</p>
<p class="has-line-data" data-line-start="118" data-line-end="119">There’s a concept called “path dependence”, that says that your current decisions are determined by earlier ones.</p>
<p class="has-line-data" data-line-start="120" data-line-end="121">That all that happens results from what you did, no matter how remote,</p>
<p class="has-line-data" data-line-start="122" data-line-end="123">and that the past is the solution to the present.</p>
<p class="has-line-data" data-line-start="124" data-line-end="125">In this world there are no master plans,</p>
<p class="has-line-data" data-line-start="126" data-line-end="127">no strategic visions,</p>
<p class="has-line-data" data-line-start="128" data-line-end="129">guiding lines,</p>
<p class="has-line-data" data-line-start="130" data-line-end="131">No.</p>
<p class="has-line-data" data-line-start="132" data-line-end="133">In this way of seeing, all that there is, is, because of previous actions.</p>
<p class="has-line-data" data-line-start="134" data-line-end="135">No other truth but the path,</p>
<p class="has-line-data" data-line-start="136" data-line-end="137">steps taken,</p>
<p class="has-line-data" data-line-start="138" data-line-end="139">nothing else.</p>
<p class="has-line-data" data-line-start="140" data-line-end="141">In this vision the route is all.</p>
<p class="has-line-data" data-line-start="142" data-line-end="143">It’s the cause and the explanation,</p>
<p class="has-line-data" data-line-start="144" data-line-end="145">the need and the answer.</p>
<p class="has-line-data" data-line-start="146" data-line-end="147">And maybe it’s for this that all geographies are important.</p>
<p class="has-line-data" data-line-start="148" data-line-end="149">Because there’s no teleonomy</p>
<p class="has-line-data" data-line-start="150" data-line-end="151">teleology,</p>
<p class="has-line-data" data-line-start="152" data-line-end="153">escathology,</p>
<p class="has-line-data" data-line-start="154" data-line-end="155">to illuminate the path that is us.</p>
<p class="has-line-data" data-line-start="156" data-line-end="157">And here we stand,</p>
<p class="has-line-data" data-line-start="158" data-line-end="159">In our own timelines</p>
<p class="has-line-data" data-line-start="160" data-line-end="161">frail and complete,</p>
<p class="has-line-data" data-line-start="162" data-line-end="163">Only in them, ontology</p>
<p class="has-line-data" data-line-start="164" data-line-end="165">Only in them, aesthetics,</p>
<p class="has-line-data" data-line-start="166" data-line-end="167">Only in them, the hope of redemption.</p>
<p class="has-line-data" data-line-start="168" data-line-end="169">And for all this,</p>
<p class="has-line-data" data-line-start="170" data-line-end="171">And because of this,</p>
<p class="has-line-data" data-line-start="172" data-line-end="173">a man,</p>
<p class="has-line-data" data-line-start="174" data-line-end="175">at 44,</p>
<p class="has-line-data" data-line-start="176" data-line-end="177">can dream about the beginning of his life,</p>
<p class="has-line-data" data-line-start="178" data-line-end="179">and wake up the next morning,</p>
<p class="has-line-data" data-line-start="180" data-line-end="181">happy,</p>
<p class="has-line-data" data-line-start="182" data-line-end="183">with a heart full of songs.</p>