<p class="has-line-data" data-line-start="0" data-line-end="2">Would if I could,<br>
refuse me from life and its appointments.</p>
<p class="has-line-data" data-line-start="3" data-line-end="7">If I could,<br>
I would,<br>
sever all ties with polite society,<br>
set sail from humanity,</p>
<p class="has-line-data" data-line-start="8" data-line-end="11">Shun all morality,<br>
all knowledge,<br>
all Love.</p>
<p class="has-line-data" data-line-start="12" data-line-end="14">Not out of rebelliousness,<br>
and least of all to be free,</p>
<p class="has-line-data" data-line-start="15" data-line-end="16">but out of sloth.</p>
<p class="has-line-data" data-line-start="18" data-line-end="20">The apathy that impedes me from acting has led to this philosophical detachment.<br>
That’s not philosophical at all.</p>
<p class="has-line-data" data-line-start="21" data-line-end="24">It is,<br>
whole,<br>
inertia.</p>
<p class="has-line-data" data-line-start="26" data-line-end="29">Would if I could,<br>
surrender unashamed to the weariness brought by the passing of time.<br>
Quietly address the silence that’s inside,</p>
<p class="has-line-data" data-line-start="30" data-line-end="31">wrap me up in indifference and leave the world to its own devices.</p>
<p class="has-line-data" data-line-start="32" data-line-end="34">So I could watch TV…<br>
for eons and eons.</p>
<p class="has-line-data" data-line-start="35" data-line-end="36">My indolence is irreducible to logic and cognition.</p>
<p class="has-line-data" data-line-start="38" data-line-end="43">There’s no causation for this sadness,<br>
There’s no sickness or sorrow that could explain it.<br>
It’s just there,<br>
like gravity…<br>
one and the other bringing everything we know crashing into the ground …</p>
<p class="has-line-data" data-line-start="44" data-line-end="46">My mind is one with the forces of the universe,<br>
fighting nothing and wanting for less,</p>
<p class="has-line-data" data-line-start="47" data-line-end="48">I wait that the last guests leave so I can be alone.</p>
<p class="has-line-data" data-line-start="49" data-line-end="54">But I know,<br>
acutely,<br>
that talking of being one with the universe is nothing but words in love with words<br>
taking them to the end of themselves,<br>
finding release on the cusp of nothing .</p>
<p class="has-line-data" data-line-start="55" data-line-end="59">Laziness,<br>
pure<br>
and<br>
simple.</p>
<p class="has-line-data" data-line-start="61" data-line-end="62">And as I sit here writing these words, I’m reminded of younger days…</p>
<p class="has-line-data" data-line-start="63" data-line-end="66">Of watching adults go through theirs lives half awake,<br>
responsive to just a small set of stimuli,<br>
Living a life that the dead would be ashamed of living.</p>
<p class="has-line-data" data-line-start="67" data-line-end="71">well…<br>
I believe I achieved maturity.<br>
I am an adult…<br>
And not even the horrified gaze of a younger me will wake me from this stupor.</p>
<p class="has-line-data" data-line-start="72" data-line-end="73">I also remember reading that when a man has children looses half his soul.</p>
<p class="has-line-data" data-line-start="74" data-line-end="81">Forever incapable of redemption,<br>
an empty shell,<br>
living a life that the dead would be ashamed of living.<br>
well…<br>
I’m a father now.<br>
She’s three and she’s adorable.<br>
Do you want to see pictures?</p>
<p class="has-line-data" data-line-start="84" data-line-end="87">But all this remembering feels like reenacting finished conversations.<br>
Lines of enquiry who were closed because conclusions were found already.<br>
All this knowledge is useless and cold.</p>
<p class="has-line-data" data-line-start="88" data-line-end="89">Even if it is the only source of explanation for me…</p>
<p class="has-line-data" data-line-start="91" data-line-end="94">but…<br>
honestly,<br>
I can’t be bothered with myself.</p>
<p class="has-line-data" data-line-start="96" data-line-end="97">II</p>
<p class="has-line-data" data-line-start="99" data-line-end="101">Would if I could…<br>
but I cant.</p>
<p class="has-line-data" data-line-start="102" data-line-end="104">And perhaps its better this way,<br>
leaving even the wish of ataraxia unfulfilled…</p>
<p class="has-line-data" data-line-start="105" data-line-end="107">what better monument to anomie but the failure to stop.<br>
There’s a deep logic in a laziness so profound that stills acts.</p>
<p class="has-line-data" data-line-start="108" data-line-end="113">But,<br>
still,<br>
who cares?<br>
who could possibly care?<br>
why?</p>
<p class="has-line-data" data-line-start="115" data-line-end="116">God knows I don’t.</p>
