<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Flasky - Page Not found{% endblock %}

{% block page_content %}
<div class='page-header'>
    <h1>Error 404 - Page Not Found</h1>
</div>
{% endblock %}
