<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Flasky - Internal Server Error{% endblock %}

{% block page_content %}
<div class='page-header'>
    <h1>Error 500 - Internal Server Error</h1>
</div>
{% endblock %}
