<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
<link rel='shortcut_icon' href='{{ url_for('static', filename='favicon/image.png') }}'
    type='image/x-icon'>
<link rel='icon' href='{{ url_for('static', filename='favicon/image.png') }}'
      type='image/x-icon'>
{% endblock %}
{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class='navbar navbar-inverse' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle'
                    data-toggle='collapse' data-target='.navbar-collapse'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>Flasky</a>
        </div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li><a href='/'>Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container"> 
    {% for message in get_flashed_messages() %}
    <div classs='alert alert-warning'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        {{ message  }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
