<!DOCTYPE html>
{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<h1>Hello, {% if name %}{{ name  }}{% else %}Stranger{% endif %}!</h1>
{% if not known %}
<p>Pleased to meet you!</p>
{% else %}
<p>Happy to see you again!</p>
{% endif %}
<h1>Your comment was, {% if comment %}{{ comment  }}{% else %}none.{% endif %}</h1>
{{ wtf.quick_form(form) }}
</br>
</br>
<p>It's now {{ moment(current_time).format('LLLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}

