<!DOCTYPE html>
<head>
<title>indice</title>
<meta charset="utf-8" />
<style>
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">                                                                                                                <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
</head>
<body>
<div class="grid-container">
<div class="content-wrap">
 <div class="posts">
<a href="templates/proj.html">[1]</a></br>
<a href="https://corteousquestions.club/posts/triggers.html">[2]</a></br>
<a href="https://corteousquestions.club/posts/storage.html">[3]</a></br>
<a href="https://corteousquestions.club/posts/have_problem.html">[4]</a></br>
<a href="https://corteousquestions.club/posts/problem2.html">[5]</a></br>
<a href="https://corteousquestions.club/posts/epilogue.html">[6]</a></br>
<a href="https://corteousquestions.club/posts/music.html">[7]</a></br>
<a href="https://corteousquestions.club/posts/music2.html">[8]</a></br>
<a href="https://corteousquestions.club/posts/rss.html">[9]</a></br>
<a href="https://corteousquestions.club/posts/hugo.html">[10]</a></br>
<a href="https://corteousquestions.club/posts/md.html">[11]</a></br>
<a href="https://corteousquestions.club/posts/rss2.html">[12]<a></br>
<a href="https://corteousquestions.club/posts/auto.html">[13]<a></br>
<a href="https://corteousquestions.club/posts/14_blog_search.html">[14]<a></br>
<a href="https://corteousquestions.club/posts/15_footer.html">[15]<a></br>
<a href="https://corteousquestions.club/posts/16_search2.html">[16]<a></br>
<a href="https://corteousquestions.club/posts/17_shortener.html">[17]<a></br>
<a href="https://corteousquestions.club/posts/18_micro_diary.html">[18]<a></br>
</div>
</div>
<div class="footer"><a href='http://minegit.club/root'>gitea</a><span>   </span><a href="mailto:mclds@protonmail.com">mail</a><span>   </span><a href="pages/about_us.html">about</a><span>   </span><a href="pages/gpg.txt">gpg</a><span>   </span><a href='https://corteousquestions.club/pages/comments.html'>comments</a><span>   </span><a href="pages/search.html">search</a></div>
</div>
</body>
</html>
