

<p class="has-line-data" data-line-start="0" data-line-end="4">In front.<br>
Always in front. Ahead.<br>
In your face.<br>
Always in your face. Before you.</p>
<p class="has-line-data" data-line-start="5" data-line-end="6">Hours await.</p>
<p class="has-line-data" data-line-start="7" data-line-end="10">The long procession of minutes (armed to the teeth with seconds).<br>
They wait at the corner of now<br>
To become the ever expanding procession of days.</p>
<p class="has-line-data" data-line-start="11" data-line-end="13">An infinite throng of instants peruses menacingly,<br>
as I finish a cigarette and look trough the café window.</p>
<p class="has-line-data" data-line-start="14" data-line-end="17">And,<br>
Then,<br>
When you’re not expecting,</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">The Hordes of time storm the tower, to enforce the grim yoke of Boredom.</p>
<p class="has-line-data" data-line-start="21" data-line-end="22">You light another cigarette, and hope it’ll pass.</p>
<p class="has-line-data" data-line-start="23" data-line-end="24">But it won’t.</p>
<p class="has-line-data" data-line-start="25" data-line-end="26">You were conquered by the army most ferocious.</p>
<p class="has-line-data" data-line-start="27" data-line-end="28">…</p>
<p class="has-line-data" data-line-start="29" data-line-end="34">Thunderous cavalcades of infinity,<br>
Roaring armies of permanence<br>
Ready and waiting to rip you to shreds and serve you to<br>
Uncountable multitudes of moments,<br>
followed by more ravenous moments…</p>
<p class="has-line-data" data-line-start="35" data-line-end="38">Pulling in…<br>
Pulling to….<br>
To…</p>
<p class="has-line-data" data-line-start="39" data-line-end="42">Immeasurable quantities of instants,<br>
Armed and belligerent…<br>
Screaming for the bloody murder of you.</p>
<p class="has-line-data" data-line-start="44" data-line-end="47">Time’s arrow is taut and awaits release.<br>
Its vicious murderous desire for oblivion will not be abated.<br>
…</p>
<p class="has-line-data" data-line-start="48" data-line-end="49">Time’s arrow is taut and you are the target.</p>
<p class="has-line-data" data-line-start="50" data-line-end="51">There’s nothing left to do …</p>
<p class="has-line-data" data-line-start="52" data-line-end="53">All your efforts … all for naught.</p>
<p class="has-line-data" data-line-start="54" data-line-end="57">Nothing to do …<br>
But grit your teeth,<br>
And brace for impact.</p>

