

<p class="has-line-data" data-line-start="0" data-line-end="1">These are the days of new beginnings,</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">and longing for  the ones that are not our own anymore,</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">and wont be missed.</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">These are the days of change and reinvention,</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">Of dead structure withering as dead leaves,</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">Of looking ahead to nothing known,</p>
<p class="has-line-data" data-line-start="20" data-line-end="21">And living in the maelstrom of becoming.</p>
<p class="has-line-data" data-line-start="22" data-line-end="23">Where we are just movement,</p>
<p class="has-line-data" data-line-start="24" data-line-end="25">change,</p>
<p class="has-line-data" data-line-start="26" data-line-end="27">and oblivion.</p>
<p class="has-line-data" data-line-start="32" data-line-end="33">Some call it decay,</p>
<p class="has-line-data" data-line-start="34" data-line-end="35">Others birthing.</p>
<p class="has-line-data" data-line-start="38" data-line-end="39">We call it pain and confusion.</p>
<p class="has-line-data" data-line-start="42" data-line-end="43">We call it, our lives.</p>
<p class="has-line-data" data-line-start="48" data-line-end="49">These are the days of siren calls</p>
<p class="has-line-data" data-line-start="50" data-line-end="51">Wailing their last warnings to deaf ears.</p>
<p class="has-line-data" data-line-start="52" data-line-end="53">Everywhere we hear the Cassandra warning us about the demise of a life</p>
<p class="has-line-data" data-line-start="54" data-line-end="55">That is already lost.</p>
<p class="has-line-data" data-line-start="58" data-line-end="59">The death of the West,</p>
<p class="has-line-data" data-line-start="60" data-line-end="61">Proclaimed for so long,</p>
<p class="has-line-data" data-line-start="62" data-line-end="63">Is now an inexorable fact.</p>
<p class="has-line-data" data-line-start="66" data-line-end="67">There are no ruins,</p>
<p class="has-line-data" data-line-start="68" data-line-end="69">And there are no more men.</p>
<p class="has-line-data" data-line-start="70" data-line-end="71">All the dreams are dead.</p>
<p class="has-line-data" data-line-start="74" data-line-end="75">Sadder eyes and clearer heads are needed to live this becoming that engulfed us.</p>
<p class="has-line-data" data-line-start="76" data-line-end="77">The past is no more a beacon,</p>
<p class="has-line-data" data-line-start="78" data-line-end="79">As the future we’ve foreseen is no more there.</p>
<p class="has-line-data" data-line-start="80" data-line-end="81">…</p>
<p class="has-line-data" data-line-start="82" data-line-end="83">The plans of mice of men…</p>
<p class="has-line-data" data-line-start="84" data-line-end="85">Are not plans but tropisms,</p>
<p class="has-line-data" data-line-start="86" data-line-end="87">As men and mice are not agents but matter.</p>
<p class="has-line-data" data-line-start="90" data-line-end="91">Nothing to do now but to contemplate the mill of history,</p>
<p class="has-line-data" data-line-start="92" data-line-end="93">Grinding away at today</p>
<p class="has-line-data" data-line-start="94" data-line-end="95">Replacing it with a future  that will frighten us all,</p>
<p class="has-line-data" data-line-start="96" data-line-end="97">the Changing of the Guard generation,</p>
<p class="has-line-data" data-line-start="98" data-line-end="99">or won’t be any kind of future.</p>

