<p class="has-line-data" data-line-start="0" data-line-end="1">The girl stood in front of the car screaming:</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">“No!</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">No!</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">No!&quot;</p>
<p class="has-line-data" data-line-start="9" data-line-end="10">There was a thud,</p>
<p class="has-line-data" data-line-start="11" data-line-end="12">and then nothing.</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">Her friend stared</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">as she shouted at the driver:</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">“Real nice M’am! Really, really nice!”</p>
<p class="has-line-data" data-line-start="21" data-line-end="22">I looked behind me, to the cat in the road.</p>
<p class="has-line-data" data-line-start="24" data-line-end="25">It was jumping and somersaulting spasmodically</p>
<p class="has-line-data" data-line-start="26" data-line-end="27">In total silence</p>
<p class="has-line-data" data-line-start="28" data-line-end="29">pirouetting in the air,</p>
<p class="has-line-data" data-line-start="30" data-line-end="31">almost never touching the tarmac,</p>
<p class="has-line-data" data-line-start="32" data-line-end="33">an acrobat of pain.</p>
<p class="has-line-data" data-line-start="34" data-line-end="35">Not what you’d expect from a cat ran over.</p>
<p class="has-line-data" data-line-start="37" data-line-end="38">But there he was,</p>
<p class="has-line-data" data-line-start="39" data-line-end="40">airborne</p>
<p class="has-line-data" data-line-start="41" data-line-end="42">contorted</p>
<p class="has-line-data" data-line-start="43" data-line-end="44">kinetic</p>
<p class="has-line-data" data-line-start="45" data-line-end="46">hurt.</p>
<p class="has-line-data" data-line-start="48" data-line-end="49">Coiling and uncoiling at lunchtime.</p>