

<p class="has-line-data" data-line-start="0" data-line-end="1">Have they taught you nothing?</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">All the prophets,</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">all the poets,</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">All of them.</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">Thousands of years of words, deeds and actions,</p>
<p class="has-line-data" data-line-start="10" data-line-end="11">Have you not heard?</p>
<p class="has-line-data" data-line-start="12" data-line-end="13">Saw?</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">Understood?</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">No matter</p>
<p class="has-line-data" data-line-start="20" data-line-end="21">For what I’ve come to tell you is the summation of everything that was told before me.</p>
<p class="has-line-data" data-line-start="22" data-line-end="23">At least everything true.</p>
<p class="has-line-data" data-line-start="24" data-line-end="25">All truths, all science, all art, all philosophy,</p>
<p class="has-line-data" data-line-start="26" data-line-end="27">All paths to freedom through knowledge,</p>
<p class="has-line-data" data-line-start="28" data-line-end="29">come to this:</p>
<p class="has-line-data" data-line-start="32" data-line-end="33">It’s not important.</p>
<p class="has-line-data" data-line-start="34" data-line-end="35">You are not important,</p>
<p class="has-line-data" data-line-start="36" data-line-end="37">Your family is not important,</p>
<p class="has-line-data" data-line-start="38" data-line-end="39">Your friends are meaningless,</p>
<p class="has-line-data" data-line-start="40" data-line-end="41">Society does not exist,</p>
<p class="has-line-data" data-line-start="42" data-line-end="43">There is no “we”,</p>
<p class="has-line-data" data-line-start="44" data-line-end="45">Bury the fiction of Nation,</p>
<p class="has-line-data" data-line-start="46" data-line-end="47">Of good deeds and bad,</p>
<p class="has-line-data" data-line-start="48" data-line-end="49">Of knowledge,</p>
<p class="has-line-data" data-line-start="50" data-line-end="51">Of beauty,</p>
<p class="has-line-data" data-line-start="52" data-line-end="53">Of love</p>
<p class="has-line-data" data-line-start="54" data-line-end="55">All of this is wrong, small and unimportant.</p>
<p class="has-line-data" data-line-start="58" data-line-end="59">And it was this that they were telling you,</p>
<p class="has-line-data" data-line-start="60" data-line-end="61">The prophets and poets and the others.</p>
<p class="has-line-data" data-line-start="62" data-line-end="63">It was just this, they wanted you to know.</p>
<p class="has-line-data" data-line-start="65" data-line-end="66">This is all you needed to know.</p>
<p class="has-line-data" data-line-start="69" data-line-end="70">II</p>
<p class="has-line-data" data-line-start="73" data-line-end="74">Rejoice, rejoice, rejoice!</p>
<p class="has-line-data" data-line-start="75" data-line-end="76">For now you are free!</p>
<p class="has-line-data" data-line-start="77" data-line-end="78">Rejoice, rejoice, rejoice!</p>
<p class="has-line-data" data-line-start="79" data-line-end="80">For now you live in a brighter, better world!</p>
<p class="has-line-data" data-line-start="83" data-line-end="84">All life, all of it,</p>
<p class="has-line-data" data-line-start="85" data-line-end="86">in its complexity and abstruse variance,</p>
<p class="has-line-data" data-line-start="87" data-line-end="88">is of no importance.</p>
<p class="has-line-data" data-line-start="89" data-line-end="90">All has no meaning in this bigger picture will make our own,</p>
<p class="has-line-data" data-line-start="91" data-line-end="92">For if it’s the result of evolving matter as say the scientists, what of it?</p>
<p class="has-line-data" data-line-start="93" data-line-end="94">Theirs is but a small place in the universe,</p>
<p class="has-line-data" data-line-start="95" data-line-end="96">Beautiful,</p>
<p class="has-line-data" data-line-start="97" data-line-end="98">But small, and of no consequence.</p>
<p class="has-line-data" data-line-start="99" data-line-end="100">And if life is the gift from Gods, is this the bigger boon we can imagine?</p>
<p class="has-line-data" data-line-start="101" data-line-end="102">Surely not.</p>
<p class="has-line-data" data-line-start="105" data-line-end="106">So rejoice, rejoice!</p>
<p class="has-line-data" data-line-start="107" data-line-end="108">You were set free from respect to life!</p>
<p class="has-line-data" data-line-start="111" data-line-end="112">And what about friends and family,</p>
<p class="has-line-data" data-line-start="113" data-line-end="114">And all the bonds of empathy that keep us together?</p>
<p class="has-line-data" data-line-start="115" data-line-end="116">What of them?</p>
<p class="has-line-data" data-line-start="117" data-line-end="118">Since Life failed us as an answer,</p>
<p class="has-line-data" data-line-start="119" data-line-end="120">we could always take refuge on the certainty of love.</p>
<p class="has-line-data" data-line-start="121" data-line-end="122">But we all know,</p>
<p class="has-line-data" data-line-start="123" data-line-end="124">deep down,</p>
<p class="has-line-data" data-line-start="125" data-line-end="126">that this is not sure footing for the lovers of truth.</p>
<p class="has-line-data" data-line-start="127" data-line-end="128">This is a marshy land, that shifts and moves ceaselessly.</p>
<p class="has-line-data" data-line-start="129" data-line-end="130">Very beautiful and not to be trusted.</p>
<p class="has-line-data" data-line-start="133" data-line-end="134">The answer is not love,</p>
<p class="has-line-data" data-line-start="135" data-line-end="136">Nor is it all you need,</p>
<p class="has-line-data" data-line-start="137" data-line-end="138">Because we need so much more.</p>
<p class="has-line-data" data-line-start="141" data-line-end="142">Rejoice, Rejoice!</p>
<p class="has-line-data" data-line-start="143" data-line-end="144">For the Ghost of love no longer haunts you!</p>
<p class="has-line-data" data-line-start="147" data-line-end="148">And the knowledge of all these things,</p>
<p class="has-line-data" data-line-start="149" data-line-end="150">Brought together by reason, logic and intuition,</p>
<p class="has-line-data" data-line-start="151" data-line-end="152">Is of no consequence even before its very eyes.</p>
<p class="has-line-data" data-line-start="153" data-line-end="154">For its science itself that teaches us that what we know is but a speck in what there is to discover.</p>
<p class="has-line-data" data-line-start="155" data-line-end="156">And that what we can imagine is like a haze covering what might be there.</p>
<p class="has-line-data" data-line-start="159" data-line-end="160">When you look at a stone,</p>
<p class="has-line-data" data-line-start="161" data-line-end="162">any stone,</p>
<p class="has-line-data" data-line-start="163" data-line-end="164">And imagine the millennia it witnessed:</p>
<p class="has-line-data" data-line-start="165" data-line-end="166">Being on the bed of a lost sea,</p>
<p class="has-line-data" data-line-start="167" data-line-end="168">Having risen to heights of mountains that disappeared,</p>
<p class="has-line-data" data-line-start="169" data-line-end="170">watching dead animals howling at stars that</p>
<p class="has-line-data" data-line-start="171" data-line-end="172">for so long</p>
<p class="has-line-data" data-line-start="173" data-line-end="174">have changed their place in the skies…</p>
<p class="has-line-data" data-line-start="175" data-line-end="176">To now be carried unaware in your hand,</p>
<p class="has-line-data" data-line-start="177" data-line-end="178">with no inkling of itself,</p>
<p class="has-line-data" data-line-start="179" data-line-end="180">deaf, dumb and blind.</p>
<p class="has-line-data" data-line-start="181" data-line-end="182">This in each and every rock!</p>
<p class="has-line-data" data-line-start="185" data-line-end="186">Rejoice!</p>
<p class="has-line-data" data-line-start="187" data-line-end="188">The burden of knowing was lifted from your shoulders!</p>
<p class="has-line-data" data-line-start="191" data-line-end="192">And God in all this? Where to find him?</p>
<p class="has-line-data" data-line-start="193" data-line-end="194">Everywhere.</p>
<p class="has-line-data" data-line-start="195" data-line-end="196">For this is a poem not about the death of God but of its awakening.</p>
<p class="has-line-data" data-line-start="197" data-line-end="198">Not the God of the spiritual accountants they keep chained in Churches,</p>
<p class="has-line-data" data-line-start="199" data-line-end="200">Any church,</p>
<p class="has-line-data" data-line-start="201" data-line-end="202">Not the personal God who has hygiene advices for you,</p>
<p class="has-line-data" data-line-start="203" data-line-end="204">Your wife,</p>
<p class="has-line-data" data-line-start="205" data-line-end="206">Your dog.</p>
<p class="has-line-data" data-line-start="207" data-line-end="208">Not the God of everlasting love and goodness that sounds so human that we call him Father,</p>
<p class="has-line-data" data-line-start="209" data-line-end="210">sometimes,</p>
<p class="has-line-data" data-line-start="211" data-line-end="212">Mother,</p>
<p class="has-line-data" data-line-start="213" data-line-end="214">More often,</p>
<p class="has-line-data" data-line-start="215" data-line-end="216">creating sacred families of variable geometries,</p>
<p class="has-line-data" data-line-start="217" data-line-end="218">and unfailing dysfunctionalitiy.</p>
<p class="has-line-data" data-line-start="220" data-line-end="222">r&gt;<br>
God is so,</p>
<p class="has-line-data" data-line-start="223" data-line-end="224">so,</p>
<p class="has-line-data" data-line-start="225" data-line-end="226">distant.</p>
<p class="has-line-data" data-line-start="227" data-line-end="228">Beyond the last frontier of imagination.</p>
<p class="has-line-data" data-line-start="229" data-line-end="230">Making sure by its presence that our wildest dreams are nothing but small extensions of ourselves,</p>
<p class="has-line-data" data-line-start="231" data-line-end="232">Not the yardstick with which to measure the Universe.</p>
<p class="has-line-data" data-line-start="234" data-line-end="236">r&gt;<br>
So rejoice!</p>
<p class="has-line-data" data-line-start="237" data-line-end="240">For God is far way!<br>
r&gt;<br>
Haven’t you learnt nothing?</p>
<p class="has-line-data" data-line-start="241" data-line-end="242">From all the Poets, Philosophers and Prophets of the ages?</p>
<p class="has-line-data" data-line-start="243" data-line-end="244">To think far and wide and deep,</p>
<p class="has-line-data" data-line-start="245" data-line-end="246">so you can see how near and small and shallow you are?</p>
<p class="has-line-data" data-line-start="248" data-line-end="250">r&gt;<br>
This was all the knowledge you needed to live free from fear.</p>
<p class="has-line-data" data-line-start="251" data-line-end="252">And even this,</p>
<p class="has-line-data" data-line-start="253" data-line-end="254">Is not important.</p>

