<p class="has-line-data" data-line-start="0" data-line-end="1">“-You have to visit your grandmother. She’s weak now and won’t be with us for very long.”</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">Said my father, while driving us in that December night.</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">I mumbled noncommittally and looked at the trees outside.</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">“She became frailer this last few months.</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">You haven’t seen her for so long, so you don’t know.</p>
<p class="has-line-data" data-line-start="10" data-line-end="11">She looks like a little old lady.”</p>
<p class="has-line-data" data-line-start="13" data-line-end="14">Which was something strange to say about a 85 year old woman.</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">But not so strange if you knew her.</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">upright</p>
<p class="has-line-data" data-line-start="20" data-line-end="21">uptight</p>
<p class="has-line-data" data-line-start="22" data-line-end="23">unmoving</p>
<p class="has-line-data" data-line-start="24" data-line-end="25">unwavering</p>
<p class="has-line-data" data-line-start="26" data-line-end="27">unshakable</p>
<p class="has-line-data" data-line-start="29" data-line-end="30">wholly unlikable.</p>
<p class="has-line-data" data-line-start="32" data-line-end="33">////</p>
<p class="has-line-data" data-line-start="35" data-line-end="36">When we were evicted and my parents divorced,</p>
<p class="has-line-data" data-line-start="37" data-line-end="38">because when it rains, it pours,</p>
<p class="has-line-data" data-line-start="39" data-line-end="40">me and my sister went to live with my grandmother.</p>
<p class="has-line-data" data-line-start="41" data-line-end="42">much to the chagrin of everyone involved.</p>
<p class="has-line-data" data-line-start="43" data-line-end="44">But mostly hers.</p>
<p class="has-line-data" data-line-start="46" data-line-end="47">Our time there was one of abuse, spite and confrontation,</p>
<p class="has-line-data" data-line-start="48" data-line-end="49">and waking to the knowledge that the ones that should protect,</p>
<p class="has-line-data" data-line-start="50" data-line-end="51">sometimes bite.</p>
<p class="has-line-data" data-line-start="53" data-line-end="54">We were told that her house was not like our parents house,</p>
<p class="has-line-data" data-line-start="55" data-line-end="56">that, in her house there were rules,</p>
<p class="has-line-data" data-line-start="57" data-line-end="58">order,</p>
<p class="has-line-data" data-line-start="59" data-line-end="60">and that, if we abided by them, all would be fine.</p>
<p class="has-line-data" data-line-start="62" data-line-end="63">But this was a lie.</p>
<p class="has-line-data" data-line-start="65" data-line-end="66">The rules were not there to rule the house,</p>
<p class="has-line-data" data-line-start="67" data-line-end="68">but to change our behaviour.</p>
<p class="has-line-data" data-line-start="69" data-line-end="70">which was seen as undisciplined</p>
<p class="has-line-data" data-line-start="71" data-line-end="72">moorless</p>
<p class="has-line-data" data-line-start="73" data-line-end="74">unfocused</p>
<p class="has-line-data" data-line-start="75" data-line-end="76">weak.</p>
<p class="has-line-data" data-line-start="78" data-line-end="79">All free time was an opportunity for sloth,</p>
<p class="has-line-data" data-line-start="80" data-line-end="81">our interests were suspicious as they were chosen by us,</p>
<p class="has-line-data" data-line-start="82" data-line-end="83">our achievements were not to be celebrated so we wouldn’t think too much of ourselves.</p>
<p class="has-line-data" data-line-start="84" data-line-end="85">our parents were feeble, stupid,</p>
<p class="has-line-data" data-line-start="86" data-line-end="87">And we should be grateful we didn’t live with them anymore.</p>
<p class="has-line-data" data-line-start="89" data-line-end="90">This was our original sin,</p>
<p class="has-line-data" data-line-start="91" data-line-end="92">the indiscipline of our parents,</p>
<p class="has-line-data" data-line-start="93" data-line-end="94">and thus,</p>
<p class="has-line-data" data-line-start="95" data-line-end="96">we were the result of bad stock and bad habits.</p>
<p class="has-line-data" data-line-start="98" data-line-end="99">My father lived with us,</p>
<p class="has-line-data" data-line-start="100" data-line-end="101">she was his mother,</p>
<p class="has-line-data" data-line-start="102" data-line-end="103">and tried his damndest to see and hear nothing.</p>
<p class="has-line-data" data-line-start="104" data-line-end="105">He resigned from fatherhood and became a son.</p>
<p class="has-line-data" data-line-start="106" data-line-end="107">expecting cooked meals,</p>
<p class="has-line-data" data-line-start="108" data-line-end="109">pressed clothes,</p>
<p class="has-line-data" data-line-start="110" data-line-end="111">clean shirts</p>
<p class="has-line-data" data-line-start="112" data-line-end="113">and no sons to disturb this second adolescence.</p>
<p class="has-line-data" data-line-start="115" data-line-end="116">I hated him so much …</p>
<p class="has-line-data" data-line-start="117" data-line-end="118">my sister still does.</p>
<p class="has-line-data" data-line-start="119" data-line-end="120">But what I hated most of all was conceding to my grandmother</p>
<p class="has-line-data" data-line-start="121" data-line-end="122">that he was,</p>
<p class="has-line-data" data-line-start="123" data-line-end="124">indeed,</p>
<p class="has-line-data" data-line-start="125" data-line-end="126">a coward.</p>
<p class="has-line-data" data-line-start="128" data-line-end="129">Lost in himself.</p>
<p class="has-line-data" data-line-start="130" data-line-end="131">forever blameless because forever fourteen,</p>
<p class="has-line-data" data-line-start="132" data-line-end="133">an hedonist not out of love of life,</p>
<p class="has-line-data" data-line-start="134" data-line-end="135">but because little boys don’t make plans.</p>
<p class="has-line-data" data-line-start="137" data-line-end="138">Living there was a war that made me defensive and wary of people for years.</p>
<p class="has-line-data" data-line-start="139" data-line-end="140">Cagey, afraid and suspicious of kindness.</p>
<p class="has-line-data" data-line-start="141" data-line-end="142">Always on guard,</p>
<p class="has-line-data" data-line-start="143" data-line-end="144">ready to bite and run</p>
<p class="has-line-data" data-line-start="145" data-line-end="146">always alone and happy to be so.</p>
<p class="has-line-data" data-line-start="148" data-line-end="149">When my mother got a rented room I went to live with her,</p>
<p class="has-line-data" data-line-start="150" data-line-end="151">sleeping on the floor next to her bed.</p>
<p class="has-line-data" data-line-start="153" data-line-end="154">As I was going out the door my grandmother touched me on the shoulder and,</p>
<p class="has-line-data" data-line-start="155" data-line-end="156">as I turned,</p>
<p class="has-line-data" data-line-start="157" data-line-end="158">slapped me twice on the cheeks.</p>
<p class="has-line-data" data-line-start="160" data-line-end="161">“I know why you’re going away! So you would do what you want! Go be a failure like your father!”</p>
<p class="has-line-data" data-line-start="163" data-line-end="164">Her eyes were wide,</p>
<p class="has-line-data" data-line-start="165" data-line-end="166">hands taut and claw like.</p>
<p class="has-line-data" data-line-start="167" data-line-end="168">She seemed eager to pounce.</p>
<p class="has-line-data" data-line-start="170" data-line-end="171">I was twelve years old.</p>
<p class="has-line-data" data-line-start="173" data-line-end="174">////</p>
<p class="has-line-data" data-line-start="176" data-line-end="177">And then I didn’t see her for years.</p>
<p class="has-line-data" data-line-start="178" data-line-end="179">My father would try to get me to come to her house,</p>
<p class="has-line-data" data-line-start="180" data-line-end="181">remembering me that she loved me,</p>
<p class="has-line-data" data-line-start="182" data-line-end="183">saying that all that I remembered,</p>
<p class="has-line-data" data-line-start="184" data-line-end="185">all that happened,</p>
<p class="has-line-data" data-line-start="186" data-line-end="187">was nothing more than lazy teens living with an old lady set in her ways,</p>
<p class="has-line-data" data-line-start="188" data-line-end="189">Just that.</p>
<p class="has-line-data" data-line-start="190" data-line-end="191">That,</p>
<p class="has-line-data" data-line-start="192" data-line-end="193">sometime in the future,</p>
<p class="has-line-data" data-line-start="194" data-line-end="195">I would look back and laugh at these cherished family memories.</p>
<p class="has-line-data" data-line-start="196" data-line-end="197">And,</p>
<p class="has-line-data" data-line-start="198" data-line-end="199">furthermore</p>
<p class="has-line-data" data-line-start="200" data-line-end="201">I probably,should have heard some of the things she said to me,</p>
<p class="has-line-data" data-line-start="202" data-line-end="203">as they were advice to be heeded.</p>
<p class="has-line-data" data-line-start="205" data-line-end="206">Many years passed,</p>
<p class="has-line-data" data-line-start="207" data-line-end="208">ten, maybe more.</p>
<p class="has-line-data" data-line-start="209" data-line-end="210">I was in the car, with my father, on that December night.</p>
<p class="has-line-data" data-line-start="212" data-line-end="213">I think it was my sister’s birthday and we were all going out to dinner.</p>
<p class="has-line-data" data-line-start="214" data-line-end="215">My father roped me to go pick my grandmother.</p>
<p class="has-line-data" data-line-start="216" data-line-end="217">and I …</p>
<p class="has-line-data" data-line-start="218" data-line-end="219">by then,</p>
<p class="has-line-data" data-line-start="220" data-line-end="221">didn’t feel much of anything.</p>
<p class="has-line-data" data-line-start="222" data-line-end="223">Ten years passed,</p>
<p class="has-line-data" data-line-start="224" data-line-end="225">everything fades to gray.</p>
<p class="has-line-data" data-line-start="227" data-line-end="228">I remember it was cold.</p>
<p class="has-line-data" data-line-start="229" data-line-end="230">The car heater was on and I had my overcoat,</p>
<p class="has-line-data" data-line-start="231" data-line-end="232">but, if I pressed my face to the window,</p>
<p class="has-line-data" data-line-start="233" data-line-end="234">I could feel the sting.</p>
<p class="has-line-data" data-line-start="236" data-line-end="237">We parked outside her house, and he said:</p>
<p class="has-line-data" data-line-start="238" data-line-end="239">“Go get your grandmother. She’s waiting for us.”</p>
<p class="has-line-data" data-line-start="241" data-line-end="242">When I opened her door, a numbing chill came from inside.</p>
<p class="has-line-data" data-line-start="243" data-line-end="244">the stale dusty winter of closed houses.</p>
<p class="has-line-data" data-line-start="246" data-line-end="247">All the lights were out and I asked myself if she was sleeping,</p>
<p class="has-line-data" data-line-start="248" data-line-end="249">or dead.</p>
<p class="has-line-data" data-line-start="251" data-line-end="252">I called:</p>
<p class="has-line-data" data-line-start="253" data-line-end="254">“Grandma! … Grandma! It’s Miguel Grandma!”</p>
<p class="has-line-data" data-line-start="256" data-line-end="257">Silence.</p>
<p class="has-line-data" data-line-start="259" data-line-end="260">I climbed the stairs,</p>
<p class="has-line-data" data-line-start="261" data-line-end="262">my steps muffled by the garish carpet she liked,</p>
<p class="has-line-data" data-line-start="263" data-line-end="264">dark</p>
<p class="has-line-data" data-line-start="265" data-line-end="266">unmoving.</p>
<p class="has-line-data" data-line-start="268" data-line-end="269">As I got up there I heard:</p>
<p class="has-line-data" data-line-start="270" data-line-end="271">“Oh, it’s you. I thought that your father would pick me up.”</p>
<p class="has-line-data" data-line-start="272" data-line-end="273">There she was.</p>
<p class="has-line-data" data-line-start="275" data-line-end="276">Bent over on an unforgiving chair that was never used to sit, she sat.</p>
<p class="has-line-data" data-line-start="277" data-line-end="278">In the dark,</p>
<p class="has-line-data" data-line-start="279" data-line-end="280">by an open window,</p>
<p class="has-line-data" data-line-start="281" data-line-end="282">letting in the street lights dim glimmer.</p>
<p class="has-line-data" data-line-start="284" data-line-end="285">She looked frailer,</p>
<p class="has-line-data" data-line-start="286" data-line-end="287">smaller,</p>
<p class="has-line-data" data-line-start="288" data-line-end="289">distant.</p>
<p class="has-line-data" data-line-start="291" data-line-end="292">“Grandma aren’t you cold?”</p>
<p class="has-line-data" data-line-start="293" data-line-end="294">“Cold? No, not really. Why? Is it cold today?”</p>
<p class="has-line-data" data-line-start="295" data-line-end="296">“Why are you sitting in the dark?”</p>
<p class="has-line-data" data-line-start="297" data-line-end="298">“… well, I was alone here, I wasn’t reading … I saw no reason to waste electricity”</p>
<p class="has-line-data" data-line-start="300" data-line-end="301">She looked vaguely at me,</p>
<p class="has-line-data" data-line-start="302" data-line-end="303">as if it should be mine the next move,</p>
<p class="has-line-data" data-line-start="304" data-line-end="305">as if she needed a prompt.</p>
<p class="has-line-data" data-line-start="307" data-line-end="308">“Come on Grandma, I’ll help you get up”.</p>
<p class="has-line-data" data-line-start="309" data-line-end="310">I took her arm,</p>
<p class="has-line-data" data-line-start="311" data-line-end="312">she took her cane,</p>
<p class="has-line-data" data-line-start="313" data-line-end="314">which I never seen her use,</p>
<p class="has-line-data" data-line-start="315" data-line-end="316">and, as she leant on me, I felt the weight of nothing on my arm.</p>
<p class="has-line-data" data-line-start="318" data-line-end="319">She was insubstantial</p>
<p class="has-line-data" data-line-start="320" data-line-end="321">indifferent to the cold</p>
<p class="has-line-data" data-line-start="322" data-line-end="323">and not really there.</p>
<p class="has-line-data" data-line-start="325" data-line-end="326">“I thought your father would pick me up.”</p>
<p class="has-line-data" data-line-start="327" data-line-end="328">She said again.</p>
<p class="has-line-data" data-line-start="329" data-line-end="330">“He’s waiting in the car Grandma”</p>
<p class="has-line-data" data-line-start="331" data-line-end="332">“Oh … ok”</p>
<p class="has-line-data" data-line-start="333" data-line-end="334">…</p>
<p class="has-line-data" data-line-start="335" data-line-end="336">“Where are we going again?”</p>
<p class="has-line-data" data-line-start="337" data-line-end="338">“It’s Margarida’s birthday Grandma. We’re going to dinner.”</p>
<p class="has-line-data" data-line-start="339" data-line-end="340">“Oh … Ok”</p>
<p class="has-line-data" data-line-start="343" data-line-end="344">Late that night we came back from Lisbon,</p>
<p class="has-line-data" data-line-start="345" data-line-end="346">through the “Marginal”,</p>
<p class="has-line-data" data-line-start="347" data-line-end="348">winding from Lisbon,</p>
<p class="has-line-data" data-line-start="349" data-line-end="350">to Cascais,</p>
<p class="has-line-data" data-line-start="351" data-line-end="352">always hugging the sea.</p>
<p class="has-line-data" data-line-start="354" data-line-end="355">My grandmother looked outside and,</p>
<p class="has-line-data" data-line-start="356" data-line-end="357">for the first time that night,</p>
<p class="has-line-data" data-line-start="358" data-line-end="359">she looked engaged.</p>
<p class="has-line-data" data-line-start="361" data-line-end="362">“This is so pretty…</p>
<p class="has-line-data" data-line-start="363" data-line-end="364">Maria.&quot;</p>
<p class="has-line-data" data-line-start="365" data-line-end="366">Her eldest sister.</p>
<p class="has-line-data" data-line-start="367" data-line-end="368">&quot;Would love to see this…</p>
<p class="has-line-data" data-line-start="369" data-line-end="370">I’ll tell her tomorrow.”</p>
<p class="has-line-data" data-line-start="371" data-line-end="372">Maria had died ten years ago.</p>
<p class="has-line-data" data-line-start="374" data-line-end="375">“Zé!”</p>
<p class="has-line-data" data-line-start="376" data-line-end="377">My father</p>
<p class="has-line-data" data-line-start="378" data-line-end="379">“Do you see the lighthouse?!”</p>
<p class="has-line-data" data-line-start="380" data-line-end="381">“Yes mother, I do.”</p>
<p class="has-line-data" data-line-start="382" data-line-end="383">“So pretty…</p>
<p class="has-line-data" data-line-start="384" data-line-end="385">I’ll tell your father.”</p>
<p class="has-line-data" data-line-start="386" data-line-end="387">My grandfather died 24 years ago.</p>
<p class="has-line-data" data-line-start="389" data-line-end="390">She sat on the front of the car,</p>
<p class="has-line-data" data-line-start="391" data-line-end="392">me and my sister on the back,</p>
<p class="has-line-data" data-line-start="393" data-line-end="394">so happy to ride the Marginal,</p>
<p class="has-line-data" data-line-start="396" data-line-end="397">“Grandma!”</p>
<p class="has-line-data" data-line-start="398" data-line-end="399">Said my sister. Not one to leave well enough alone.</p>
<p class="has-line-data" data-line-start="400" data-line-end="401">“Yes?”</p>
<p class="has-line-data" data-line-start="402" data-line-end="403">“Aunt Maria is dead.”</p>
<p class="has-line-data" data-line-start="404" data-line-end="405">…</p>
<p class="has-line-data" data-line-start="406" data-line-end="407">“Yes. Yes she she is … Silly of me.”</p>
<p class="has-line-data" data-line-start="409" data-line-end="410">She said nothing for a while,</p>
<p class="has-line-data" data-line-start="411" data-line-end="412">but smiled…</p>
<p class="has-line-data" data-line-start="413" data-line-end="414">at the road,</p>
<p class="has-line-data" data-line-start="415" data-line-end="416">the night,</p>
<p class="has-line-data" data-line-start="417" data-line-end="418">the sea</p>
<p class="has-line-data" data-line-start="419" data-line-end="420">the trees</p>
<p class="has-line-data" data-line-start="421" data-line-end="422">the houses</p>
<p class="has-line-data" data-line-start="423" data-line-end="424">…</p>
<p class="has-line-data" data-line-start="425" data-line-end="426">I don’t know.</p>
<p class="has-line-data" data-line-start="427" data-line-end="428">She just seemed content</p>
<p class="has-line-data" data-line-start="429" data-line-end="430">to see the world pass by,</p>
<p class="has-line-data" data-line-start="431" data-line-end="432">my father by her side,</p>
<p class="has-line-data" data-line-start="433" data-line-end="434">and her ghosts around her.</p>
<p class="has-line-data" data-line-start="436" data-line-end="437">That night I gave my Grandmother for dead.</p>
<p class="has-line-data" data-line-start="439" data-line-end="440">////</p>
<p class="has-line-data" data-line-start="442" data-line-end="443">When she died,</p>
<p class="has-line-data" data-line-start="444" data-line-end="445">really died,</p>
<p class="has-line-data" data-line-start="446" data-line-end="447">it was much more kinetic and a lot less poetic.</p>
<p class="has-line-data" data-line-start="449" data-line-end="450">I saw her again at a burial in Cascais cemetery,</p>
<p class="has-line-data" data-line-start="451" data-line-end="452">where my grandfather was buried</p>
<p class="has-line-data" data-line-start="453" data-line-end="454">and where she had bought a plot next to him.</p>
<p class="has-line-data" data-line-start="456" data-line-end="457">We were burying a son from one of her sisters,</p>
<p class="has-line-data" data-line-start="458" data-line-end="459">a 41 year old man,</p>
<p class="has-line-data" data-line-start="460" data-line-end="461">prime of his life,</p>
<p class="has-line-data" data-line-start="462" data-line-end="463">cancer.</p>
<p class="has-line-data" data-line-start="465" data-line-end="466">As the men started shoveling dirt into the hole,</p>
<p class="has-line-data" data-line-start="467" data-line-end="468">I became more aware of my grandmother’s discomfort.</p>
<p class="has-line-data" data-line-start="469" data-line-end="470">She would twitch nervously among the graves,</p>
<p class="has-line-data" data-line-start="471" data-line-end="472">not knowing where to be.</p>
<p class="has-line-data" data-line-start="474" data-line-end="475">She came next to us,</p>
<p class="has-line-data" data-line-start="476" data-line-end="477">Tsk tsking,</p>
<p class="has-line-data" data-line-start="478" data-line-end="479">as if the funeral was all wrong.</p>
<p class="has-line-data" data-line-start="481" data-line-end="482">I think it was by the third time she went through the grave that my mother took her by the arm and asked:</p>
<p class="has-line-data" data-line-start="483" data-line-end="484">“Mother, are you ok?”</p>
<p class="has-line-data" data-line-start="485" data-line-end="486">“Yes … Yes … it’s just that, I’m so old, and this is my graveyard … I feel that I’m next.”</p>
<p class="has-line-data" data-line-start="488" data-line-end="489">“Mother, don’t say that!</p>
<p class="has-line-data" data-line-start="490" data-line-end="491">you look so well!”</p>
<p class="has-line-data" data-line-start="492" data-line-end="493">My grandmother smiled thinly,</p>
<p class="has-line-data" data-line-start="494" data-line-end="495">shrugged her shoulders,</p>
<p class="has-line-data" data-line-start="496" data-line-end="497">and went near his grave.</p>
<p class="has-line-data" data-line-start="499" data-line-end="500">Her sister was leaving</p>
<p class="has-line-data" data-line-start="501" data-line-end="502">already by the exit,</p>
<p class="has-line-data" data-line-start="503" data-line-end="504">crying and held by someone.</p>
<p class="has-line-data" data-line-start="505" data-line-end="506">We followed.</p>
<p class="has-line-data" data-line-start="508" data-line-end="509">Behind all of us,</p>
<p class="has-line-data" data-line-start="510" data-line-end="511">my grandmother stood looking at my uncle’s freshly dug grave.</p>
<p class="has-line-data" data-line-start="513" data-line-end="514">My sister sighed as she looked at her.</p>
<p class="has-line-data" data-line-start="515" data-line-end="516">I said:</p>
<p class="has-line-data" data-line-start="517" data-line-end="518">“I’ll get her”</p>
<p class="has-line-data" data-line-start="519" data-line-end="520">“No …I will”.</p>
<p class="has-line-data" data-line-start="522" data-line-end="523">She went to her side,</p>
<p class="has-line-data" data-line-start="524" data-line-end="525">teetering above her nephew’s grave,</p>
<p class="has-line-data" data-line-start="526" data-line-end="527">and hugged her,</p>
<p class="has-line-data" data-line-start="528" data-line-end="529">hard.</p>
<p class="has-line-data" data-line-start="531" data-line-end="532">Her shoulders moved upwardly,</p>
<p class="has-line-data" data-line-start="533" data-line-end="534">surprised to be held,</p>
<p class="has-line-data" data-line-start="535" data-line-end="536">and let herself be touched.</p>
<p class="has-line-data" data-line-start="537" data-line-end="538">For a while,</p>
<p class="has-line-data" data-line-start="539" data-line-end="540">for a little while.</p>
<p class="has-line-data" data-line-start="542" data-line-end="543">She patted my sister,</p>
<p class="has-line-data" data-line-start="544" data-line-end="545">took her arm,</p>
<p class="has-line-data" data-line-start="546" data-line-end="547">leant on the cane,</p>
<p class="has-line-data" data-line-start="548" data-line-end="549">and pointed to the exit with her chin.</p>
<p class="has-line-data" data-line-start="551" data-line-end="552">They moved from my uncle’s grave</p>
<p class="has-line-data" data-line-start="553" data-line-end="554">one cane held, the other looking at the ground,</p>
<p class="has-line-data" data-line-start="555" data-line-end="556">through my mother,</p>
<p class="has-line-data" data-line-start="557" data-line-end="558">who looked at me</p>
<p class="has-line-data" data-line-start="559" data-line-end="560">wet eyed and empathizing,</p>
<p class="has-line-data" data-line-start="561" data-line-end="562">expecting of me what this place took from everyone.</p>
<p class="has-line-data" data-line-start="564" data-line-end="565">But me,</p>
<p class="has-line-data" data-line-start="566" data-line-end="567">having no one but me to subsist,</p>
<p class="has-line-data" data-line-start="568" data-line-end="569">being</p>
<p class="has-line-data" data-line-start="570" data-line-end="571">then</p>
<p class="has-line-data" data-line-start="572" data-line-end="573">so bereft of others</p>
<p class="has-line-data" data-line-start="574" data-line-end="575">and stripped of warmth,</p>
<p class="has-line-data" data-line-start="576" data-line-end="577">could only think:</p>
<p class="has-line-data" data-line-start="578" data-line-end="579">“I must get away from here before they understand how much I don’t care.”</p>
<p class="has-line-data" data-line-start="581" data-line-end="582">I looked at the gravel,</p>
<p class="has-line-data" data-line-start="583" data-line-end="584">and hoped that my grandmother’s trek through the graveyard would be as long as it could be.</p>
<p class="has-line-data" data-line-start="586" data-line-end="587">The bitch.</p>
<p class="has-line-data" data-line-start="590" data-line-end="591">////</p>
<p class="has-line-data" data-line-start="594" data-line-end="595">Have I talked about her dying?</p>
<p class="has-line-data" data-line-start="596" data-line-end="597">Yes I did.</p>
<p class="has-line-data" data-line-start="598" data-line-end="599">And then I remembered the death of someone else.</p>
<p class="has-line-data" data-line-start="600" data-line-end="601">My mistake.</p>
<p class="has-line-data" data-line-start="602" data-line-end="603">I apologize.</p>
<p class="has-line-data" data-line-start="605" data-line-end="606">I will tell you</p>
<p class="has-line-data" data-line-start="607" data-line-end="608">finally,</p>
<p class="has-line-data" data-line-start="609" data-line-end="610">of her death.</p>
<p class="has-line-data" data-line-start="612" data-line-end="613">I was sleeping at my girlfriends when she woke me,</p>
<p class="has-line-data" data-line-start="614" data-line-end="615">shaking me softly:</p>
<p class="has-line-data" data-line-start="616" data-line-end="617">“Miguel , Miguel, your grandmother just died. I’m so sorry”</p>
<p class="has-line-data" data-line-start="619" data-line-end="620">“Who called?”</p>
<p class="has-line-data" data-line-start="621" data-line-end="622">“Your mother. Your father tried to phone you but you didn’t answer.”</p>
<p class="has-line-data" data-line-start="623" data-line-end="624">I looked at the phone</p>
<p class="has-line-data" data-line-start="625" data-line-end="626">It was around 3h30.</p>
<p class="has-line-data" data-line-start="627" data-line-end="628">My father called,</p>
<p class="has-line-data" data-line-start="629" data-line-end="630">for the first time,</p>
<p class="has-line-data" data-line-start="631" data-line-end="632">at 2h05.</p>
<p class="has-line-data" data-line-start="633" data-line-end="634">I wasn’t very late.</p>
<p class="has-line-data" data-line-start="636" data-line-end="637">I got up,</p>
<p class="has-line-data" data-line-start="638" data-line-end="639">took a bath,</p>
<p class="has-line-data" data-line-start="640" data-line-end="641">Shaved,</p>
<p class="has-line-data" data-line-start="642" data-line-end="643">put on my suit,</p>
<p class="has-line-data" data-line-start="644" data-line-end="645">a dark tie,</p>
<p class="has-line-data" data-line-start="646" data-line-end="647">and my black overcoat.</p>
<p class="has-line-data" data-line-start="649" data-line-end="650">I arrived and my father was crying.</p>
<p class="has-line-data" data-line-start="651" data-line-end="652">“Miguel, I’m so glad you came!</p>
<p class="has-line-data" data-line-start="653" data-line-end="654">please don’t go to your grandmother’s bedroom. There’s nothing to see there,</p>
<p class="has-line-data" data-line-start="655" data-line-end="656">not anymore…</p>
<p class="has-line-data" data-line-start="657" data-line-end="658">she died without her teeth and her wig.</p>
<p class="has-line-data" data-line-start="659" data-line-end="660">I just couldn’t let anyone see her like that.”</p>
<p class="has-line-data" data-line-start="662" data-line-end="663">By then all had been done.</p>
<p class="has-line-data" data-line-start="664" data-line-end="665">My father had welcomed the police and the 911.</p>
<p class="has-line-data" data-line-start="666" data-line-end="667">they did what they do,</p>
<p class="has-line-data" data-line-start="668" data-line-end="669">said how sorry they were for his loss</p>
<p class="has-line-data" data-line-start="670" data-line-end="671">and went away.</p>
<p class="has-line-data" data-line-start="673" data-line-end="674">Leaving him with his mother</p>
<p class="has-line-data" data-line-start="675" data-line-end="676">under a sheet,</p>
<p class="has-line-data" data-line-start="677" data-line-end="678">with her wig</p>
<p class="has-line-data" data-line-start="679" data-line-end="680">and her teeth.</p>
<p class="has-line-data" data-line-start="682" data-line-end="683">He saw me looking at her and said:</p>
<p class="has-line-data" data-line-start="684" data-line-end="685">“She died in my arms.</p>
<p class="has-line-data" data-line-start="686" data-line-end="687">I was sleeping when I heard her cry:</p>
<p class="has-line-data" data-line-start="688" data-line-end="689">“Zé! Zé! Come here, I can not breathe!”</p>
<p class="has-line-data" data-line-start="690" data-line-end="691">she was quivering uncontrollably,</p>
<p class="has-line-data" data-line-start="692" data-line-end="693">her nightgown at her breast,</p>
<p class="has-line-data" data-line-start="694" data-line-end="695">no teeth,</p>
<p class="has-line-data" data-line-start="696" data-line-end="697">no hair.</p>
<p class="has-line-data" data-line-start="698" data-line-end="699">she looked at me gasping for air.</p>
<p class="has-line-data" data-line-start="701" data-line-end="702">I said:</p>
<p class="has-line-data" data-line-start="703" data-line-end="704">“Mother, mother it will be all right!”</p>
<p class="has-line-data" data-line-start="705" data-line-end="706">trying to stop her jerking.</p>
<p class="has-line-data" data-line-start="707" data-line-end="708">but I couldn’t.</p>
<p class="has-line-data" data-line-start="709" data-line-end="710">I craddled her head,</p>
<p class="has-line-data" data-line-start="711" data-line-end="712">and squeezed her hand</p>
<p class="has-line-data" data-line-start="713" data-line-end="714">gripping her close to my chest.</p>
<p class="has-line-data" data-line-start="716" data-line-end="717">she moved, once</p>
<p class="has-line-data" data-line-start="718" data-line-end="719">twice,</p>
<p class="has-line-data" data-line-start="720" data-line-end="721">thrice,</p>
<p class="has-line-data" data-line-start="722" data-line-end="723">and then stopped.”</p>
<p class="has-line-data" data-line-start="725" data-line-end="726">There’s nothing of your grandmother to see in that bed.</p>
<p class="has-line-data" data-line-start="727" data-line-end="728">Just a shell”.</p>
<p class="has-line-data" data-line-start="730" data-line-end="731">He cried some more,</p>
<p class="has-line-data" data-line-start="732" data-line-end="733">and I got curious about her corpse.</p>
<p class="has-line-data" data-line-start="735" data-line-end="736">I moved</p>
<p class="has-line-data" data-line-start="737" data-line-end="738">stealthily</p>
<p class="has-line-data" data-line-start="739" data-line-end="740">to where she lied.</p>
<p class="has-line-data" data-line-start="742" data-line-end="743">She was small,</p>
<p class="has-line-data" data-line-start="744" data-line-end="745">she was always small,</p>
<p class="has-line-data" data-line-start="746" data-line-end="747">but now she was just a bump on a bed.</p>
<p class="has-line-data" data-line-start="749" data-line-end="750">I pulled the sheet and looked.</p>
<p class="has-line-data" data-line-start="752" data-line-end="753">Her jaw jutted sideways,</p>
<p class="has-line-data" data-line-start="754" data-line-end="755">as if it trying to leave her face.</p>
<p class="has-line-data" data-line-start="756" data-line-end="757">the eyes looked upward, looking intently at the ceiling.</p>
<p class="has-line-data" data-line-start="758" data-line-end="759">My father tried to closed them, but they opened again.</p>
<p class="has-line-data" data-line-start="760" data-line-end="761">Hands were clenched around her breast</p>
<p class="has-line-data" data-line-start="762" data-line-end="763">trying to move a weight from her chest.</p>
<p class="has-line-data" data-line-start="765" data-line-end="766">I saw all this and thought</p>
<p class="has-line-data" data-line-start="767" data-line-end="768">”God, I hope my father doesn’t see this!”</p>
<p class="has-line-data" data-line-start="769" data-line-end="770">But he did.</p>
<p class="has-line-data" data-line-start="771" data-line-end="772">Alone</p>
<p class="has-line-data" data-line-start="773" data-line-end="774">for a long time.</p>
<p class="has-line-data" data-line-start="775" data-line-end="776">He put her teeth</p>
<p class="has-line-data" data-line-start="777" data-line-end="778">and her wig on.</p>
<p class="has-line-data" data-line-start="780" data-line-end="781">As he cried it dawned on me,</p>
<p class="has-line-data" data-line-start="782" data-line-end="783">I can not help this man from the horror of the death of his mother.</p>
<p class="has-line-data" data-line-start="784" data-line-end="785">but maybe, I can help him bury her well.</p>
<p class="has-line-data" data-line-start="787" data-line-end="788">My grandmother now,</p>
<p class="has-line-data" data-line-start="789" data-line-end="790">the cunt,</p>
<p class="has-line-data" data-line-start="791" data-line-end="792">was so much of what she was in life,</p>
<p class="has-line-data" data-line-start="793" data-line-end="794">dead weight and bad memories.</p>
<p class="has-line-data" data-line-start="796" data-line-end="797">But maybe,</p>
<p class="has-line-data" data-line-start="798" data-line-end="799">just maybe,</p>
<p class="has-line-data" data-line-start="800" data-line-end="801">my father remembered something else,</p>
<p class="has-line-data" data-line-start="802" data-line-end="803">and maybe,</p>
<p class="has-line-data" data-line-start="804" data-line-end="805">I should respect this.</p>
<p class="has-line-data" data-line-start="806" data-line-end="807">So I did.</p>
<p class="has-line-data" data-line-start="809" data-line-end="810">The wake was a pleasant affair.</p>
<p class="has-line-data" data-line-start="811" data-line-end="812">I went to wash my hands and saw that I was much thinner,</p>
<p class="has-line-data" data-line-start="813" data-line-end="814">and that I looked good in my suit.</p>
<p class="has-line-data" data-line-start="816" data-line-end="817">The rest of the day I mc’ed the event,</p>
<p class="has-line-data" data-line-start="818" data-line-end="819">happy and self assured</p>
<p class="has-line-data" data-line-start="820" data-line-end="821">safe in the knowledge of my handsomeness.</p>
<p class="has-line-data" data-line-start="823" data-line-end="824">Some of my sisters’ girlfriends came and commented on how good I looked.</p>
<p class="has-line-data" data-line-start="825" data-line-end="826">It felt nice.</p>
<p class="has-line-data" data-line-start="828" data-line-end="829">My father cried in a corner,</p>
<p class="has-line-data" data-line-start="830" data-line-end="831">not able to navigate the social niceties</p>
<p class="has-line-data" data-line-start="832" data-line-end="833">and me so eager to do it.</p>
<p class="has-line-data" data-line-start="835" data-line-end="836">It was a long wake.</p>
<p class="has-line-data" data-line-start="837" data-line-end="838">We were there at nine in the morning and came home at midnight.</p>
<p class="has-line-data" data-line-start="839" data-line-end="840">All day in a tasteless chapel in one of the more nondescript places in Cascais.</p>
<p class="has-line-data" data-line-start="841" data-line-end="842">If I wasn’t so pleased with myself it would have been unbearable…</p>
<p class="has-line-data" data-line-start="844" data-line-end="845">The next day was the burial.</p>
<p class="has-line-data" data-line-start="846" data-line-end="847">and if you’ve been to one, I’ve nothing more to add.</p>
<p class="has-line-data" data-line-start="848" data-line-end="849">The same solemn steps,</p>
<p class="has-line-data" data-line-start="850" data-line-end="851">the same hole,</p>
<p class="has-line-data" data-line-start="852" data-line-end="853">that thud in your heart when you hear the dirt coming over the casket,</p>
<p class="has-line-data" data-line-start="854" data-line-end="855">and the lingering feeling that,</p>
<p class="has-line-data" data-line-start="856" data-line-end="857">all in all,</p>
<p class="has-line-data" data-line-start="858" data-line-end="859">better them than us.</p>
<p class="has-line-data" data-line-start="861" data-line-end="862">////</p>
<p class="has-line-data" data-line-start="864" data-line-end="865">I wish I had an ending for this poem,</p>
<p class="has-line-data" data-line-start="866" data-line-end="867">some kind of coda to wrap the story in a pithy summation.</p>
<p class="has-line-data" data-line-start="868" data-line-end="869">But I haven’t.</p>
<p class="has-line-data" data-line-start="871" data-line-end="872">The story is what I wrote,</p>
<p class="has-line-data" data-line-start="873" data-line-end="874">even if I don’t know</p>
<p class="has-line-data" data-line-start="875" data-line-end="876">clearly</p>
<p class="has-line-data" data-line-start="877" data-line-end="878">what I intended to tell.</p>
<p class="has-line-data" data-line-start="880" data-line-end="881">I read that some mathematical problems can’t be summated in a equation.</p>
<p class="has-line-data" data-line-start="882" data-line-end="883">there’s no way to discern an underlying algorithm,</p>
<p class="has-line-data" data-line-start="884" data-line-end="885">no way to summarize elegantly the unruly mess that are some questions.</p>
<p class="has-line-data" data-line-start="886" data-line-end="887">Sometimes</p>
<p class="has-line-data" data-line-start="888" data-line-end="889">the only way to explain them</p>
<p class="has-line-data" data-line-start="890" data-line-end="891">Is going through all the calculations,</p>
<p class="has-line-data" data-line-start="892" data-line-end="893">step by step,</p>
<p class="has-line-data" data-line-start="894" data-line-end="895">painstakingly forbearing any intelligence,</p>
<p class="has-line-data" data-line-start="896" data-line-end="897">and giving yourself,</p>
<p class="has-line-data" data-line-start="898" data-line-end="899">freely,</p>
<p class="has-line-data" data-line-start="900" data-line-end="901">to arithmetic.</p>
<p class="has-line-data" data-line-start="903" data-line-end="904">And I think that is what happened here.</p>
<p class="has-line-data" data-line-start="905" data-line-end="906">The story is the story,</p>
<p class="has-line-data" data-line-start="907" data-line-end="908">void of morality and gnosis.</p>
<p class="has-line-data" data-line-start="910" data-line-end="911">And that will have to do.</p>