<p class="has-line-data" data-line-start="0" data-line-end="1">As days go by…</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">As days go by, I,</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">and all the others,</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">grow increasingly distant from the world.</p>
<p class="has-line-data" data-line-start="8" data-line-end="17">As I grow older,<br>
day by day,<br>
things around me seem less clear than their image inside.<br>
Which is not an image,<br>
or a representation,<br>
but a foggy, cursory feeling of something else,<br>
something simpler yet darker,<br>
clearer but evanescent.<br>
The blueprint of reality, seen fleetingly through closed closed doors, eyes and hearts.</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">Everyday I,</p>
<p class="has-line-data" data-line-start="20" data-line-end="21">and all the rest,</p>
<p class="has-line-data" data-line-start="22" data-line-end="26">learn our part in the world by rote … but not by heart.<br>
Knowing it so well that it is now,<br>
all tropism and inertia.<br>
A fluid give and take of forces and masses that determine a psychology best described by the equations of physics.</p>
<p class="has-line-data" data-line-start="28" data-line-end="30">The Outside is left to its own devices. A garden of powers engendered by complexity and the will of the young,<br>
who were</p>
<p class="has-line-data" data-line-start="31" data-line-end="32">still</p>
<p class="has-line-data" data-line-start="33" data-line-end="34">not summoned to inspect this strange vision,</p>
<p class="has-line-data" data-line-start="35" data-line-end="36">begotten by action and living,</p>
<p class="has-line-data" data-line-start="37" data-line-end="38">and existing as something else entirely.</p>
<p class="has-line-data" data-line-start="39" data-line-end="40">And as time passes I,</p>
<p class="has-line-data" data-line-start="41" data-line-end="42">and everyone else,</p>
<p class="has-line-data" data-line-start="43" data-line-end="44">feel this inner truth to be a little clearer, and the Outside,</p>
<p class="has-line-data" data-line-start="45" data-line-end="46">a little distant,</p>
<p class="has-line-data" data-line-start="47" data-line-end="50">a little dimmer,<br>
more remote.<br>
Increasingly foreign and threatening.</p>
<p class="has-line-data" data-line-start="51" data-line-end="52">This is called growing old.</p>
<p class="has-line-data" data-line-start="53" data-line-end="59">This small nugget of knowing that we believe we glimpsed is evermore enticing.<br>
Still incomprehensible,<br>
distant of words and wary of grammar,<br>
it seems to stand still if looked from the corner of your eye,<br>
but if you try to stare at it …<br>
it’s not there anymore.</p>
<p class="has-line-data" data-line-start="60" data-line-end="62">And,<br>
as time passes,</p>
<p class="has-line-data" data-line-start="63" data-line-end="64">as it surely will.</p>
<p class="has-line-data" data-line-start="65" data-line-end="66">This hunt becomes path, motion and goal for those who have more years than time.</p>
<p class="has-line-data" data-line-start="67" data-line-end="70">Slowly the Outside gets evermore abstruse and incomprehensible,<br>
full of change and movement caused by nothing and going nowhere.<br>
And,</p>
<p class="has-line-data" data-line-start="71" data-line-end="75">as it gets increasingly difficult to understand,<br>
we loose the words and refuse the meanings that perpetually mutate to survive.<br>
For we haven’t looked Outside for so long,<br>
and retreated to the other truth that needs nothing but us.</p>
<p class="has-line-data" data-line-start="76" data-line-end="80">This silent knowledge,<br>
devoid of language and requiring only unerring attention,<br>
grows to encompass all experience.<br>
And when I,</p>
<p class="has-line-data" data-line-start="81" data-line-end="82">and all of you,</p>
<p class="has-line-data" data-line-start="83" data-line-end="84">don’t forget,</p>
<p class="has-line-data" data-line-start="85" data-line-end="88">have become nothing but watchers of a truth that requires no dialectic,<br>
there’ll be no need for words,<br>
for seeing,</p>
<p class="has-line-data" data-line-start="89" data-line-end="92">for duality …<br>
and for watchers.<br>
For a watcher that has no Outside watches nothing, and cannot exist.</p>
<p class="has-line-data" data-line-start="93" data-line-end="96">Then I’ll die,<br>
and disappear to the place where there’s no more Truth or Reason.<br>
And these words will have meant nothing.</p>
