<p class="has-line-data" data-line-start="0" data-line-end="1">I ran into the heart of winter,</p>
<p class="has-line-data" data-line-start="2" data-line-end="4">Deep,<br>
Deep into the naked trees,</p>
<p class="has-line-data" data-line-start="5" data-line-end="6">into the blistering wind.</p>
<p class="has-line-data" data-line-start="7" data-line-end="8">In search of the cleansing rain I went.</p>
<p class="has-line-data" data-line-start="13" data-line-end="14">I rushed into the snow.</p>
<p class="has-line-data" data-line-start="15" data-line-end="16">Into the snow icy core I plunged.</p>
<p class="has-line-data" data-line-start="21" data-line-end="22">Inside the frozen plain.</p>
<p class="has-line-data" data-line-start="23" data-line-end="24">Into the throbbing Soul I moved…</p>
<p class="has-line-data" data-line-start="29" data-line-end="30">The Ice respired death all around…</p>
<p class="has-line-data" data-line-start="31" data-line-end="32">Stopping the world,</p>
<p class="has-line-data" data-line-start="33" data-line-end="34">The winter,</p>
<p class="has-line-data" data-line-start="35" data-line-end="36">The cold,</p>
<p class="has-line-data" data-line-start="37" data-line-end="38">Thought.</p>
<p class="has-line-data" data-line-start="43" data-line-end="44">Even me.</p>