<p class="has-line-data" data-line-start="0" data-line-end="1">“When your stepfather was dying in the hospital”</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">Said my mother</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">He would look at me and say:</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">“Save me! Save me!”</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">And I thought he was talking about the medication that caused him pain”</p>
<p class="has-line-data" data-line-start="10" data-line-end="11">She took a sip from her glass and continued.</p>
<p class="has-line-data" data-line-start="13" data-line-end="14">“But of course I was lying to myself.</p>
<p class="has-line-data" data-line-start="15" data-line-end="16">He wasn’t talking about the medication…</p>
<p class="has-line-data" data-line-start="17" data-line-end="18">And,</p>
<p class="has-line-data" data-line-start="19" data-line-end="20">Yeah…</p>
<p class="has-line-data" data-line-start="21" data-line-end="22">Not everyone dies well.&quot;</p>