

<p class="has-line-data" data-line-start="0" data-line-end="1">“Seek and ye shall find.”</p>
<p class="has-line-data" data-line-start="2" data-line-end="3">Says the Good Book.</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">Many were lost for heeding these words.</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">For if there are plenty of books,</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">Not one,</p>
<p class="has-line-data" data-line-start="10" data-line-end="11">is Good.</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">But still they manage to get written,</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">engraving themselves in the hearts of men who bask by the fire of Words,</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">and,</p>
<p class="has-line-data" data-line-start="20" data-line-end="21">foolishly,</p>
<p class="has-line-data" data-line-start="24" data-line-end="25">look for their reflection in the World.</p>
<p class="has-line-data" data-line-start="28" data-line-end="29">These are the starry eyed dreamers,</p>
<p class="has-line-data" data-line-start="30" data-line-end="31">The heroes,</p>
<p class="has-line-data" data-line-start="32" data-line-end="33">The revolutionaries…</p>
<p class="has-line-data" data-line-start="34" data-line-end="35">drowning in contemplation of the Palace of Reason that exists only in the soul…</p>
<p class="has-line-data" data-line-start="36" data-line-end="37">not the ever decaying chaos of becoming.</p>
<p class="has-line-data" data-line-start="40" data-line-end="41">They’re blinded by truth,</p>
<p class="has-line-data" data-line-start="42" data-line-end="43">drunk on certainty,</p>
<p class="has-line-data" data-line-start="44" data-line-end="45">choking on Reality,</p>
<p class="has-line-data" data-line-start="46" data-line-end="47">and gagging in Light…</p>
<p class="has-line-data" data-line-start="50" data-line-end="51">They look to the world in hope…</p>
<p class="has-line-data" data-line-start="52" data-line-end="53">waiting for it to turn out as they know it should.</p>
<p class="has-line-data" data-line-start="54" data-line-end="55">And,</p>
<p class="has-line-data" data-line-start="56" data-line-end="57">Seeing it carrying on indifferent and unaware of their plans.</p>
<p class="has-line-data" data-line-start="58" data-line-end="59">They take on themselves the burden of change.</p>
<p class="has-line-data" data-line-start="62" data-line-end="63">And so they walk;</p>
<p class="has-line-data" data-line-start="66" data-line-end="67">The path of the good man,</p>
<p class="has-line-data" data-line-start="68" data-line-end="69">The path of the righteous and the pious…</p>
<p class="has-line-data" data-line-start="70" data-line-end="71">Of the northern man,</p>
<p class="has-line-data" data-line-start="72" data-line-end="73">cowering under dreams of land and bloodlines…</p>
<p class="has-line-data" data-line-start="74" data-line-end="75">The path of the Cow.</p>
<p class="has-line-data" data-line-start="76" data-line-end="77">Oblivious to everything but of the small pasture his herd calls home,</p>
<p class="has-line-data" data-line-start="78" data-line-end="79">Wanting for nothing and thinking about less.</p>
<p class="has-line-data" data-line-start="80" data-line-end="81">And as they gather to celebrate their bovine ethos of exclusion, we hear their rambling ruminations on family,</p>
<p class="has-line-data" data-line-start="82" data-line-end="83">land,</p>
<p class="has-line-data" data-line-start="84" data-line-end="85">purity.</p>
<p class="has-line-data" data-line-start="86" data-line-end="87">Celebrating closeness and sameness,</p>
<p class="has-line-data" data-line-start="88" data-line-end="89">Making of their hearth their world.</p>
<p class="has-line-data" data-line-start="92" data-line-end="93">But,</p>
<p class="has-line-data" data-line-start="94" data-line-end="95">As we avert our eyes from this cozy landlocked scene,</p>
<p class="has-line-data" data-line-start="96" data-line-end="97">and turn to the vast sea that faces us, each an every day,</p>
<p class="has-line-data" data-line-start="98" data-line-end="99">We cannot help but think that,</p>
<p class="has-line-data" data-line-start="102" data-line-end="103">Not for us the clear trek,</p>
<p class="has-line-data" data-line-start="104" data-line-end="105">Not for us the known path…</p>
<p class="has-line-data" data-line-start="108" data-line-end="109">We’re of the Midday,</p>
<p class="has-line-data" data-line-start="110" data-line-end="111">We’re made of hard truths and harder lies…</p>
<p class="has-line-data" data-line-start="114" data-line-end="115">Here,</p>
<p class="has-line-data" data-line-start="116" data-line-end="117">baking beneath the inflexible sun,</p>
<p class="has-line-data" data-line-start="118" data-line-end="119">lingers a race of dark men,</p>
<p class="has-line-data" data-line-start="120" data-line-end="121">Who live under the terrible burden of the naked truth.</p>
<p class="has-line-data" data-line-start="124" data-line-end="125">No wolf gods, no mists no trees, no rivers, no fountains no nothing!</p>
<p class="has-line-data" data-line-start="126" data-line-end="127">But the unavoidable burden of living alone before the Great Power.</p>
<p class="has-line-data" data-line-start="130" data-line-end="131">Distant, cold and aloof,</p>

