<p class="has-line-data" data-line-start="0" data-line-end="2">Mornings are for mourners,<br>
To mourn the night before.</p>
<p class="has-line-data" data-line-start="5" data-line-end="6">Morning is Night’s final throes of desperation.</p>
<p class="has-line-data" data-line-start="9" data-line-end="10">And in her place…</p>
<p class="has-line-data" data-line-start="11" data-line-end="12">Nothing;</p>
<p class="has-line-data" data-line-start="13" data-line-end="14">nothing but the cooling corpse of yesterday.</p>
<p class="has-line-data" data-line-start="17" data-line-end="18">You open  your eyes , sit on the bed (still unsure of where, how and why you’re here) thinking what to do with the sprawling remains extended till noon.</p>
<p class="has-line-data" data-line-start="21" data-line-end="22">You await for the new day</p>
<p class="has-line-data" data-line-start="23" data-line-end="24">the new day</p>
<p class="has-line-data" data-line-start="25" data-line-end="26">to come and rescue you from this queasy unsureness that is morning.</p>
<p class="has-line-data" data-line-start="29" data-line-end="30">But no.</p>
<p class="has-line-data" data-line-start="31" data-line-end="32">Oh no.</p>