

<p class="has-line-data" data-line-start="0" data-line-end="5">I think it was raining and I think it was cold.<br>
No. It couldn’t be raining because they wouldn’t let us outside.<br>
But it had rained, and our playground was all sand and mud.<br>
And it was grey.<br>
Yeah, I remember that.</p>
<p class="has-line-data" data-line-start="6" data-line-end="21">I was in the third grade and Miguel Portela was the school’s biggest bully. Not because he was the strongest or the hardest, but because he was the meanest.<br>
He beat me up once or twice, I can’t recall. Which didn’t make me in any way, original. it was just one of those things.<br>
He usually prefered, as his kind is wont to do, to prey on the younger and smaller, being especially feared by the first graders. He looked stub-nosed and prematurely aged, having an adult face in a kid’s body. This and the fact that he wasn’t particularly tall for his age, reinforced the disjointed and maladroit impression you got from him.<br>
It was just one of those kids you instinctually knew to stay away.<br>
Because of this Miguel had to lure his prey into a misguided state of trust. He would start by playing with the younger kids, who, foolishly, would be delighted by the attention of an older kid, and slowly increased the hostiliy. First there would be name-calling, some light taunting, and if the kid was passive or afraid, he would escalate to physical violence.<br>
To this day I’m convinced that the process was almost unintentional. That it would start with, mostly, good intentions, and when a opportunity presented itself, he just couldn’t help himself.<br>
Also, he seemed to relish his pariah state. He never looked for kids his own age, never seem bored by the distance or gave any indication he was lonely. This was a solitary predator.<br>
I wrote the last phrase and grimmaced at the violence of calling a eight year old kid a predator. Now, at 46 and a father, I’m suscceptible to the idealization of children we commit on ourselves as a society. They seem so young, so unexperienced, so helpless, that any bad gesture can be explained away as rashness or lack of forethought.<br>
We just can’t give them agency.<br>
But I know that I’m wrong. Me and so many people.<br>
Kids are not pieces of driftwood, careening from uncontrolable impulse to instinctual tropism, bereft of the controling mechanisms that we, wrongly, associate with adulthood.<br>
There’s self and self-posession there. And if morality is undoubtedly present, it’s also suffused with the knowledge that, in the eyes of adults, their decisions are almost always to be explained away by something other than their own volition.<br>
If a child does something right it’s a sign of good upbringing, as his wrongs are mostly tv’s or society’s fault. Depending where the parents are more confortable externalizing blame.<br>
And if all this might be stiffling for some, for others, with a keener grasp of the opportunities, it’s carte-blanche to explore their darker proclivities.<br>
That most are kids are good kids his a clear statement of their inherent decency, as the incentive is clearly not there.</p>
<p class="has-line-data" data-line-start="22" data-line-end="28">Then, one afternoon, a cold, grey afternoon, we were playing soccer during recess, as it happened every recess. There were kids who I never knew outside a classroom or in any other way but sweat-drenched, screaming in the field for someone to pass him the ball.<br>
Miguel was playing that day. It didn’t happened very often, but it happened enough not to be noteworthy.<br>
As per custom, Miguel got into an argument with someone from the oposing team, as usually half of game time was dedicated to debates on the interpretation of football’s rules.<br>
In the heat of argument Miguel got violent and a fight ensued,which, again, was not nothing unseen during a match. It was part of the experience. But on this particular occasion, it got particularly nasty.<br>
The other kid, most probably spurred by the knowledsge that beating Miguel was an act speckled with all kinds of virtuous and righteous hues, proceeded to attack him with zeal and for longer than it was considered, on other occasions, in good taste.<br>
When he stopped, Miguel layed supine on the soccer field. Coated in sand and crying softly.</p>
<p class="has-line-data" data-line-start="29" data-line-end="34">Our playground was like any other, filled with movement and hollering of children, left there to scream and vent for as long as they would keep us outside.<br>
But something happened in that field.<br>
As Miguel sniveled in the dirt, the other children encircled him and stood, watching him cry.<br>
Something had snapped inside him. He made no attempt to get up or hide his tears, and layed there in abject defeat.<br>
His display of weakness didn’t go unnoticed. They all stood above him, pleased to see him grovel.</p>
<p class="has-line-data" data-line-start="35" data-line-end="36">After a while he ,finally, motioned to get up, but someone held him down with a kick on the back.</p>
<p class="has-line-data" data-line-start="37" data-line-end="40">After this first kick the mood changed.<br>
Now everyone on the soccer field knew they could hurt him.<br>
Shortly after the first, another cracked him in the gut; and the circle got tighter and there was a lull.</p>
<p class="has-line-data" data-line-start="41" data-line-end="43">Slowly they came to realize that they had something very precious, which, they knew, should be kept from the teachers.<br>
They had him squirming on the floor, being, at once, a passive victim, (which is always an invitation to punishment), and a bully, which justified it.</p>
<p class="has-line-data" data-line-start="44" data-line-end="45">They stood silently watching him, prostrated, sniveling, eyes closed … hands opening and closing spasmodically.</p>
<p class="has-line-data" data-line-start="46" data-line-end="48">When he, again, tried to get up, someone kicked him down.<br>
Sometimes gently, sometimes not, but always hard enough to keep him where he was.</p>
<p class="has-line-data" data-line-start="49" data-line-end="50">Decumbent in the wet sand.</p>
<p class="has-line-data" data-line-start="51" data-line-end="54">You could hear the silence in the football field. And if the teachers were slow to react, the other kids on the playground weren’t.<br>
From all around, first, second and third graders, started to pick up on the absence and searched for the cause. Quietly they poured into the field and thickened the circle.<br>
They all had came to see Miguel Portela in defeat.</p>
<p class="has-line-data" data-line-start="55" data-line-end="56">Tentatively they renewed kicking him, now one kid, now another… hazily and non-commitally. As if lost in thought.</p>
<p class="has-line-data" data-line-start="57" data-line-end="58">Miguel would just whine softly and continue crying.</p>
<p class="has-line-data" data-line-start="59" data-line-end="62">The kids kept pouring in to the football-field as a stillness froze the playground.<br>
They stood, motionless and reverent, booting him down every time he tried to get up.<br>
By then most of the school was there.</p>
<p class="has-line-data" data-line-start="63" data-line-end="66">But, eventually, the silence alerted the teachers that something was wrong.<br>
When they got to the field they saw the circle, by now, four or five children thick, encircling Miguel Portela, as the drizzle, the tears, and the snot coated him with wet sand.<br>
It ended then.</p>
<p class="has-line-data" data-line-start="67" data-line-end="68">Miguel Portela’s parents took him out of the school and we never saw him again.</p>

