

<p class="has-line-data" data-line-start="0" data-line-end="2">I’m becoming the pillar of salt.<br>
The last glance to Gomorrah.</p>
<p class="has-line-data" data-line-start="3" data-line-end="9">Orpheus guilty glimpse over the shoulder,<br>
the last long look to things not done,<br>
to the Styx and<br>
forward.<br>
Forward…<br>
to the sadness of wrong turns taken at the wrong times.</p>
<p class="has-line-data" data-line-start="10" data-line-end="12">Opportunities lost as soon as they are found,<br>
time passing by like a thief in the night…</p>
<p class="has-line-data" data-line-start="13" data-line-end="15">watching the spectacle of being and<br>
living as the silent detached witness of myself.</p>
<p class="has-line-data" data-line-start="16" data-line-end="19">Cold<br>
distant<br>
and aloof.</p>
<p class="has-line-data" data-line-start="21" data-line-end="22">I haven’t slept for five years.</p>
<p class="has-line-data" data-line-start="23" data-line-end="24">All,</p>
<p class="has-line-data" data-line-start="25" data-line-end="27">All days<br>
mornings afternoons and nights,</p>
<p class="has-line-data" data-line-start="28" data-line-end="33">all,<br>
together,<br>
one after the other.<br>
All days and all nights,<br>
are the same, under the harsh insomniac light.</p>
<p class="has-line-data" data-line-start="34" data-line-end="37">The hours pass<br>
(dirge-like as in a prison)<br>
as I walk down the garden locked inside the walls of my house.</p>
<p class="has-line-data" data-line-start="38" data-line-end="40">The light darts yellow trough the window and onto the trees,<br>
as if shielding them from reality…</p>
<p class="has-line-data" data-line-start="41" data-line-end="48">Yellow restless light that counts time passed between vigil and feverish dreams.<br>
A light of ruse and mischief,<br>
artistry and puppetry,<br>
light made by a slight of hands, smoke and mirrors.<br>
reminding me that,<br>
from now on,<br>
there is nothing here but the ghosts of reason.</p>
<p class="has-line-data" data-line-start="49" data-line-end="53">In the phantasmal light that scars the trees,<br>
I sit grass like and canopy looking…<br>
tall and distant….<br>
Taut and alert.</p>
<p class="has-line-data" data-line-start="54" data-line-end="55">trees.</p>
<p class="has-line-data" data-line-start="56" data-line-end="59">I watch them green and stupid,<br>
tended and erect,<br>
darting upwards towards the sky…</p>
<p class="has-line-data" data-line-start="60" data-line-end="61">silently intent on photosynthesis.</p>
<p class="has-line-data" data-line-start="62" data-line-end="67">Inside them a myriad of organisms, moved by the simplest tropisms.<br>
grow and move,<br>
restlessly and mercilessly,<br>
unmoving and uncaring.<br>
oblivious to everything but their growth.</p>
<p class="has-line-data" data-line-start="70" data-line-end="74">All.<br>
All this,<br>
All so foreign.<br>
All cold and unaware.</p>
<p class="has-line-data" data-line-start="75" data-line-end="76">A universe of vast silences and expanding indifference.</p>
<p class="has-line-data" data-line-start="77" data-line-end="80">Cold,<br>
Cool,<br>
Beautiful.</p>

