<p class="has-line-data" data-line-start="0" data-line-end="2">Trying to eek out sense of all this …<br>
Living.</p>
<p class="has-line-data" data-line-start="3" data-line-end="7">Trying to shape the unruly indiscipline of existence<br>
into an organized structure of ideas.<br>
Making sense of everything by making it something…<br>
Objects to be looked at and understood.</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">This is the first moment in the carnival of seeing.</p>
<p class="has-line-data" data-line-start="11" data-line-end="15">They’ve polluted our eyes with beauty,<br>
Soiled our ears with music,<br>
Fouled our mouths with food,<br>
And tainted our skin with love.</p>
<p class="has-line-data" data-line-start="16" data-line-end="19">drunk with now,<br>
infatuated with becoming<br>
we become time’s obedient mistress…</p>
<p class="has-line-data" data-line-start="20" data-line-end="22">Our senses now,<br>
Pasture to the sickness of thinking.</p>
<p class="has-line-data" data-line-start="23" data-line-end="26">Looking and then choosing,<br>
Feeling and then reasoning,<br>
And thus making of everything…</p>
<p class="has-line-data" data-line-start="27" data-line-end="31">smaller.<br>
Controllable,<br>
Understandable,<br>
Useful…</p>
<p class="has-line-data" data-line-start="32" data-line-end="33">Knowledge if you will.</p>
<p class="has-line-data" data-line-start="35" data-line-end="42">Questions who will fit the answers,<br>
Answers who befriend easy questions,<br>
taking us trough the bonds of empathy<br>
that common men call logic.<br>
Finding truth in similarity.<br>
As if closeness was creation,<br>
As if proximity was certainty.</p>
<p class="has-line-data" data-line-start="43" data-line-end="45">Our intellectual journeys have taken us from the bedroom to the kitchen,<br>
And we exult in the small steps taken … and called it Odyssey.</p>
<p class="has-line-data" data-line-start="46" data-line-end="47">We’ve never left the cave.</p>
<p class="has-line-data" data-line-start="48" data-line-end="51">And unable to know in any form but this sorrowful stumbling,<br>
We’ve became trapped inside our answers,<br>
And found closure in the cells of reason.</p>
<p class="has-line-data" data-line-start="52" data-line-end="53">Monk-like eunuchs droning mantras of intelligence and discourse,</p>
<p class="has-line-data" data-line-start="54" data-line-end="55">Keeping the devils of complexity and uncertainty safely at bay.</p>
<p class="has-line-data" data-line-start="56" data-line-end="58">Howling alone in science.<br>
Trying ceaselessly to break the bound that binds us to this dead knowledge.</p>