.center {
	padding-top: 100px;
	padding-left: 25%;
	padding-right:
	padding-bottom:
	font-size: 25px;
	font-weight: bold;
	line-height: 1.8;
	text-align: justify;
	height: 100%;
	width: 600px;
	word-wrap: break-word;
	font-family: 'Roboto Condensed', sans-serif;	
}

#text {

}

/* unvisited link */
a:link { color: #dbe2f1; }

/* visited link */
a:visited { color: #dbe2f1; }

/* mouse over link */
a:hover { color: #bbbbbb; }

/* selected link */
a:active { color: #cccccc; }

.footer {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}