* {
  box-sizing: border-box;
}

html,
body { /* two first elements assure color ocuppies all visible area */
	margin: 0;
	padding: 0;
	background-color:
	min-height: 100vh;
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
}

.grid-container {
	min-height: 100vh;
	padding-bottom: 2.5rem;
}


.col_center {
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 450px;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif; 
}

#HCB_comment_box {
    color: #adaead;
  }

#HCB_comment_box legend small {
	color:#999;
	font-size:13.5px
}

#HCB_comment_box input[type=button] {
	background-color: #adaead;
}

#HCB_comment_box input[type=submit] {
	color: #adaead;
}

#HCB_comment_box input.submit {
	background-color: #adaead;
}

.footer {	
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

 span + span {                                                                                                                                                          	margin-left: 10px;                                                                                                                                                  } 

.pagination {
  display: inline-block;
}

.pagination a {
  color: #181817;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

/* unvisited link */
a:link { color: #aaaaaa; }

/* visited link */
a:visited { color: #dbe2f1; }

/* mouse over link */
a:hover { color: #bbbbbb; }

/* selected link */
a:active { color: #cccccc; }