.grid-container {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100vh;
}

.col_center {
	padding-top: 200px;
	font-size: 45px;
	text-align: center;
}

h6 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #dbe2f1;
}

.content-wrap {
	padding-bottom: 2.5rem;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

 span + span {                                                                                                                                                          	margin-left: 10px;                                                                                                                                                  } 

/* unvisited link */
a:link { color: #dbe2f1; }

/* visited link */
a:visited { color: #adaead; }

/* mouse over link */
a:hover { color: #bbbbbb; }

/* selected link */
a:active { color: #cccccc; }
