* {
  box-sizing: border-box;
}

html,
body { /* two first elements assure color ocuppies all visible area */
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400px;
}

.header {
	font-family: 'Roboto Condensed', sans-serif;
	font_style: italic;                                                                                                                                                 
	grid-area: header;
}

.col_left {
	grid-area: col_left;
}

.col_center {
	width: 750px;
	padding-left: 250px;
	padding-right: 100px;
	padding-top: 650px;
	grid-area: post;
	font-size: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700px; 
}

.col_right {
	grid-area: col_right;
}

input[type=submit] {
	background-color: #adaead;
	border: none;
	color: white;
	padding: 20px, 20px, 20px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	border-radius: 12px;
	font-weight: bold;
	width: 40%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700px;
}

input[type=text] {
	border: none;
	font-size: 40px;
}

input {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700px;
	width: 30%;
	color: #adaead;
}

label {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700px;
	color: #adaead;
}

.footer {
	position: absolute;
	bottom: 5px;
	grid-area: footer;
	font_style: italic;
	width: 100%;
	text-align: center;
}

 span + span {                                                                                                                                                          	margin-left: 10px;                                                                                                                                                  } 

.pagination {
  display: inline-block;
}

.pagination a {
  color: #181817;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

/* unvisited link */
a:link { color: #aaaaaa; }

/* visited link */
a:visited { color: #dbe2f1; }

/* mouse over link */
a:hover { color: #bbbbbb; }

/* selected link */
a:active { color: #cccccc; }

.grid-container {
	justify-content: center;
	align-content: center;
	display: grid;
	grid-gap: 1px;
	grid-template-areas:
		'. header .'
		'col_left post col_right'
		'. footer .'
}