<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/grid.css">
    <title>BENZOS</title>
     </head>
        <body>
            <div class='grid'>
                <div class='ga1'>GA1</div>
                <div class='ga2'>BENZOS</div>
                <div class='ga3'>GA3</div>
                <div class='gb1'>GB1</div>
                <div class='gb2'>
                    {% import 'htmls_text/benzos.html' as benzos %}
                        <p>{{ benzos }}</p>
                </div>
                <div class='gb3'>GB3</div>
                <div class='gc1'>GC1</div>
                <div class='gc2'>GC2</div>
                <div class='gc3'>GC3</div>              
           </div>
        </body>
</html>