<!DOCTYPE html>
{% extends "base.html" %}
<html>
    <header>
        {% block title %}MAUSOLEUM{% endblock %}
    </header>
    <body>
        {% block content %}
        <div class='cola1'></div>
        <div class='cola2'><h1>MAUSOLEUM</h1></div>
        <div class='cola3'></div>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle'
                    data-toggle='collapse' data-target='.navbar-collapse'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class='navbar-brand' href='/'>Mausoleum</a>
                <div class='navbar-collapse collapse'>
                    <ul class='nav navbar-nav'>
                        <li><a href='/poems/arrow'>Arrow></a></li>
                    </ul>
                </div>
            </div>
            {% endblock %}
    </body>
</html>

